@import './vars.less';
///

li:hover,
a:hover{
  border-color:none
}

.backgroundMneuMobie{
  display:none;
}

.ant-layout{
  background: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.make-container(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
      .container {
          max-width: @breakpoint;
      }
  }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-xl);


#aboutMain{
  background: url('/static/img/imgHeaderAbout.PNG') no-repeat;
  height: 611px;
  background-size: cover;
  
  .contentTitleHeaderAbout{
    display: table;
    margin: 0 auto;
    margin-top: 250px;
  }

  .contentTitleHeaderAbout h1{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #F5F6FA;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .contentTitleHeaderAbout p{
    text-align: center;
    font-size:16px;
    letter-spacing: 0.8px;
    color: #F5F6FA;
    margin-bottom: 30px;
  }

  .buttonHead{
    display: table;
    margin: 0 auto;
    margin-top:50px;
  }

  .btnLogin{
    border: 2px solid #F5F6FA;
    border-radius: 50px;
    height: 56px;
    width: 205px;
    background: transparent;
    font-size: 21px;
    color: @text-white;
    text-transform: uppercase; 
    letter-spacing: 1.05px;
    margin-right: 30px;
    margin-left: 50px;
    text-align: center;
  }

  .BtnStartTest{
    border: none;
    border-radius: 50px;
    height: 56px;
    width: 205px;
    background: transparent;
    font-size: 21px;
    color: @text-white;
    text-transform: uppercase; 
    letter-spacing: 1.05px;
    text-align: center;
    background: #54D8A3 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #54D8A329;
  }
}

#itemAboutMainDetail{
  margin-top: 100px;
  .itemContentDetailMain h1{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.28px;
    color: #54D8A3;
    text-transform: uppercase;
  }
  
  .itemContentDetailMain h2{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.92px;
    color: #663399;
    text-transform: uppercase;
  }
  
  .lineBlueHeader{
    width: 53px;
    height: 2px;
    margin-bottom: 20px;
    background: #54D8A3 0% 0% no-repeat padding-box;
  }
  
  .itemContentDetailMain p{
    text-align: left;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #43425D;
  }

  .itemImgAboutDetail img{
    width: 90%;
  }
}



#itemBorderRabowLeft{
  background: url('/static/img/border1.PNG') no-repeat;
  
  .titleSevercieMain{
    display: table;
    margin:0 auto;
    margin-top:100px
  }
  .titleSevercieMain h1{
    text-align: center;
    font-size: 16px;
    font-weight: Bold;
    letter-spacing: 1.28px;
    color: #54D8A3;
    text-transform: uppercase;
  }

  .titleSevercieMain h2{
    text-align: center;
    font-size: 24px;
    font-weight: Bold;
    margin-bottom: 20px;
    letter-spacing: 1.92px;
    color: #663399;
    text-transform: uppercase;
  }

  .itemServiceAbout img{
    display: table;
    margin: 0 auto;
    margin-top: 30px
  }

  .itemServiceAbout p{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #43425D;
    width: 300px;
    display: table;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}


#aboutMeMain{
  background: url(/static/img/background_video@2x.png) no-repeat;
  background-size: 100% 100%;
  height: 440px;
  margin-top: 50px;
  .videoYoutube iframe{
    margin-top: 30px;
    border:none
  }

  .itemContentLeft h1{
    text-align: left;
    font-size: 20px;
    letter-spacing: 1.6px;
    font-weight: bold;
    color: @text-white;
    text-transform: uppercase;
  }

  .itemContentLeft h2{
    text-align: left;
    font-size: 32px;
    letter-spacing: 2.56px;
    color: @text-white;
    text-transform: uppercase;
    font-weight: bold;
  }

  .itemContentLeft p{
    text-align: left;
    font-size:16px;
    color: #F5F6FA;
  }

  .itemContentLeft button{
    background: #54D8A3 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #54D8A329;
    border: none;
    border-radius: 50px;
    color:@text-white;
    font-size: 18px;
    font-weight: bold;
    width: 170px;
    height: 45px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
  }

  .itemContentLeft{
    margin-top: 100px;
  }
  .itemContentLeft ul{
    margin-left: -42px;
  }

  .itemContentLeft ul li{
    list-style-type: none;
  }

  .itemContentLeft img{
    margin-right: 10px;
    background: #54d8a3;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    border: 1px solid #54d8a3;
  }

  .itemContentLeft li{
      font-size:14px;
      letter-spacing: 0px;
      color: #F5F6FA;
      margin-bottom: 12px;
  }
  .top50{
    margin-top: 50px;
  }

  .btnAboutTest{
    background: #54D8A3 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #54D8A329;
    border: 2px solid #4CECAC;
    border-radius: 50px;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    letter-spacing: 1.05px;
    color: #F5F6FA;
    text-transform: uppercase;
    width: 205px;
    height: 56px;
    margin-top: 15px;
  }
}

#border2Main{
  background: url(/static/img/borderRight.PNG) no-repeat;
  height: 250px;
  margin-bottom: -50px;
  background-position: right;
}


#seachEmailAboutMain{
  display: table;
  margin: 0 auto;
  margin-top: 80px;
  .itemContentSeachEmail h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.92px;
    color: #663399;
    text-transform: uppercase;
  }

  .itemContentSeachEmail p{
    text-align: center;
    font-size:14px;
    line-height: 25px;
    color: #43425D;
    margin-top: 20px;
  }

  .itemContentSeachEmail img{
    width: 100%;
  }
}


@import './theme.less';