@import "./vars.less";
@import "./theme.less";

.ant-menu {
  background: rgba(255, 255, 255, 0.4) !important;
}

/* .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: transparent !important;
} */
//css của sider
.ant-layout-sider {
  position: fixed;
  height: 100vh;
  width: @slider-width;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  background-image: url('/static/img/sidebar-bg.png') !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: 60% 100% !important;

  .sidebar-btn {
    padding: 4px;
    border: 1px solid #8c99e0;
    margin: 8px;
    border-radius: 20px;
    text-align: center;
    color: #8c99e0;
  }

  .sidebar-profile {
    .profile-avatar {
      text-align: center;

      .avatar {
        border-radius: 50%;
        width: 80px;
        border: 4px solid #fff;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
        margin: 20px 0px;
      }
    }

    .profile-name {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    .profile-address {
      text-align: center;
      margin: 0px 25px;
      font-weight: 300px;
    }

    .profile-info {
      margin-top: 30px;
      text-align: center;

      .value {
        font-size: 20px;
        font-weight: 500;
        margin: 0px;
      }

      .label {
        margin: 0px;
      }
    }
  }
}

#admin {
  .orderDetail {
    .content {
      padding: 12px 24px !important;
    }
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .google-map-container {
    height: 60vh;
    padding: 24px;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    //   background: rgba(255, 255, 255, 0.2);
    background: rgba(200, 200, 200, 0.2);
    margin: 16px;
  }


  .ant-menu-item-group-title {
    i {
      margin-right: 5px;
    }
  }

  // css của header
  .header {
    padding: 0;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: block;
    //justify-content: space-between;
    height: 72px;
    z-index: 9;
    //align-items: center;
    //background-color: @primary-color;
    background: @primary-color-gradient;

    &.fixed {
      position: fixed;
      top: 0;
      right: 0;
      width: ~"calc(100% - 256px)";
      z-index: 29;
      transition: width 0.2s;
    }

    :global {
      .ant-menu-submenu-title {
        height: 72px;
      }

      .ant-menu-horizontal {
        line-height: 72px;

        &>.ant-menu-submenu:hover {
          color: @primary-color;
          background-color: @hover-color;
        }
      }

      .ant-menu {
        border-bottom: none;
        height: 72px;
      }

      .ant-menu-horizontal>.ant-menu-submenu {
        top: 0;
        margin-top: 0;
      }

      .ant-menu-horizontal>.ant-menu-item,
      .ant-menu-horizontal>.ant-menu-submenu {
        border-bottom: none;
      }

      .ant-menu-horizontal>.ant-menu-item-active,
      .ant-menu-horizontal>.ant-menu-item-open,
      .ant-menu-horizontal>.ant-menu-item-selected,
      .ant-menu-horizontal>.ant-menu-item:hover,
      .ant-menu-horizontal>.ant-menu-submenu-active,
      .ant-menu-horizontal>.ant-menu-submenu-open,
      .ant-menu-horizontal>.ant-menu-submenu-selected,
      .ant-menu-horizontal>.ant-menu-submenu:hover {
        border-bottom: none;
      }
    }

    .header-search {
      width: 300px;
      border-radius: 20px;
    }

    .rightContainer {
      position: relative;
      float: right;
    }

    .header-btn {
      color: #fff;
      margin-right: 8px;
      font-weight: bold;
    }

  }

  //main layout
  .backTop {
    right: 50px;

    :global {
      .ant-back-top-content {
        background: @primary-color;
        opacity: 0.3;
        transition: all 0.3s;
        box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.1);

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .main-layout {
    //margin: 72px 0px 0px;
    margin-left: calc(@slider-width + 0px);
    min-height: calc(100vh);

    &.collapsed {
      margin-left: 0px;
    }

    .breadcumb-right {
      float: right;
      background: rgba(255, 255, 255, 0.3);
      padding: 15px 20px;
      border-radius: 50px;
    }

    .breadcumbs {
      background: @primary-color-gradient;
      padding: 16px 32px 100px;

      * {
        color: #fff !important;
      }
    }

    .scheduleCard {
      max-width: 768px;
      margin: auto;
    }

    .content {
      background: #fff;
      padding: 24px;
      margin: -80px 32px 8px;
      border-radius: 4px;
    }
  }

  //center button
  .centerBtn {
    display: block;
    margin: auto;
    margin-bottom: 16px;
  }

  .btn-top {
    margin-bottom: 16px;
    margin-right: 8px;
  }

  td {
    .ant-form-item {
      margin-bottom: 0px !important;
    }

    .ant-form-item-control {
      line-height: normal;
    }
  }

  .dashboard {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    width: 100%;

    h1 {
      font-weight: 400;
    }

    .ant-col {
      transition: 0.5s;

      i {
        font-size: 30px;
        color: @primary-color;
      }

      h4 {
        font-weight: 400;
      }
    }

    .ant-col:hover {
      background-color: rgb(208, 253, 208);
    }
  }

  .footer{
    text-align: right;
  }
}

.customer-search {
  top: 20px !important;

  .ant-modal-content {
    background-image: url("/img/cloud.jpg")
  }

  .ant-modal-confirm-content {
    margin-left: inherit !important;
  }
}

.order-assign-user {
  .ant-modal-confirm-btns {
    display: none;
  }

  .ant-modal-confirm-content {
    margin-left: 0 !important;
  }
}

.ant-btn {
  &.clearBefore {
    &::before {
      top: -1px;
      left: -1px;
      right: unset;
      bottom: unset;
    }
  }
}

.order-tab-selected {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}

.order-tab-unselected {
  background-color: #dedede;
  border: none;
  color: rgba(0, 0, 0, 0.65);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}

.temp-order-card {
  background: #00bf8f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #001510, #00bf8f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #001510, #00bf8f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 150;
}

.loadingCenter {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.ant-col {
  width: 100% !important;
}

.order-next-button {
  float: right !important;
}

.whiteBg {
  background: white;
}

@import "./admin-max-md.less";
@import "./admin-max-xs.less";