@import './vars.less';
///

li:hover,
a:hover{
  border-color:none
}

.backgroundMneuMobie{
  display:none;
}

.ant-layout{
  background: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.make-container(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
      .container {
          max-width: @breakpoint;
      }
  }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-xl);

#itemHeaderContactMain{
  height: 609px;
  background: url('/static/img/imgHeaderContact.PNG') no-repeat;
  background-size:cover;
  .itemTitleCustomer{
    display: table;
    margin: 0 auto;
    margin-top: 180px;
  }

  .itemTitleCustomer h1{
    text-align: center;
    font-weight: Bold;
    font-size: 28px;
    letter-spacing: 1.4px;
    color: #F5F6FA;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .itemTitleCustomer p{
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #F5F6FA;
  }

  .buttonHead{
    display: table;
    margin: 0 auto;
    margin-top:50px;
  }

  .btnLogin{
    border: 2px solid #F5F6FA;
    border-radius: 50px;
    height: 56px;
    width: 205px;
    background: transparent;
    font-size: 21px;
    color: @text-white;
    text-transform: uppercase; 
    letter-spacing: 1.05px;
    margin-right: 30px;
    margin-left: 50px;
    text-align: center;
  }

  .BtnStartTest{
    border: none;
    border-radius: 50px;
    height: 56px;
    width: 205px;
    background: transparent;
    font-size: 21px;
    color: @text-white;
    text-transform: uppercase; 
    letter-spacing: 1.05px;
    text-align: center;
    background: #54D8A3 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #54D8A329;
  }
}

#ContactMainMqn{
  margin-top: 80px;
  .itemInfoContactMain h1{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #43425D;
    text-transform: uppercase;
    margin-bottom: 15px;

  }

  .itemInfoContactMain p{
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #43425D;
    width: 500px;
    margin-bottom: 15px;
  }

  .itemInfoContactMain h2{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.28px;
    color: #663399;
    text-transform: uppercase;
  }

  .itemInfoContactMain ul li{
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 15px;
  }

  .itemInfoContactMain img{
    float: left;
    margin-right: 10px
  }

  .itemFormContactMain input{
    width: 100%;
    height: 40px;
  }

  .itemFormContactMain TextArea{
    width: 100%;
    height: 100px;
  }


  .itemFormContactMain button{
    background: #663399 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #66339929;
    border-radius: 50px;
    float: right;
    width: 179px;
    height: 49px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    letter-spacing: 0.9px;
    color: #F5F6FA;
    text-transform: uppercase;
  }
}

#googleMap{
  margin-top: 50px;
}

#bannerSeverMqnMainProContact{
  margin-top: 50px;
  .itemSeverContact img{
    display: table;
    margin: 0 auto;
    width: 56%;
    height: 225px;
    object-fit: cover;
  }

  .itemSeverContact p{
    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    color: #43425D;
    margin-top: 25px
  }
}

@import './theme.less';

  