@import './vars.less';
///

li:hover,
a:hover{
  border-color:none
}

.backgroundMneuMobie{
  display:none;
}

.ant-layout{
  background: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.make-container(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
      .container {
          max-width: @breakpoint;
      }
  }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-xl);

#customerHeaderProMain{
  height: 609px;
  background: url('/static/img/headerImgCustomer.PNG') no-repeat;
  background-size:cover;

  .itemTitleCustomer{
    display: table;
    margin: 0 auto;
    margin-top: 180px;
  }

  .itemTitleCustomer h1{
    text-align: center;
    font-weight: Bold;
    font-size: 28px;
    letter-spacing: 1.4px;
    color: #F5F6FA;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .itemTitleCustomer p{
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #F5F6FA;
  }

  .buttonHead{
    display: table;
    margin: 0 auto;
    margin-top:50px;
  }

  .btnLogin{
    border: 2px solid #F5F6FA;
    border-radius: 50px;
    height: 56px;
    width: 205px;
    background: transparent;
    font-size: 21px;
    color: @text-white;
    text-transform: uppercase; 
    letter-spacing: 1.05px;
    margin-right: 30px;
    margin-left: 50px;
    text-align: center;
  }

  .BtnStartTest{
    border: none;
    border-radius: 50px;
    height: 56px;
    width: 205px;
    background: transparent;
    font-size: 21px;
    color: @text-white;
    text-transform: uppercase; 
    letter-spacing: 1.05px;
    text-align: center;
    background: #54D8A3 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #54D8A329;
  }
}


#itemFeedbackCustomer{
  display: table;
  margin: 0 auto;
  margin-top: 100px;
  
  .itemTitleFeedback h1{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.6px;
    color: #54D8A3;
    text-transform: uppercase;
    font-weight: bold;
  }

  .itemTitleFeedback h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2.56px;
    color: #663399;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .ant-carousel .slick-slide {
    text-align: center;
    overflow: hidden;
    height: 450px;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .itemAvataMainCustomer img{
    width: 100%;
    margin-top: 10px;
    height: 335px;
    object-fit: cover;
  }

  .itemInfoMainCustomerFeedback ul li{
    float: left;
    margin-right: 5px;
    list-style-type: none
  }

  .itemInfoMainCustomerFeedback h1{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.96px;
    color: #A4AFB7;
    text-transform: uppercase;
    float: left;
    margin-right: 50px
  }

  .itemInfoMainCustomerFeedback span{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.56px;
    color: #54D8A3;
    margin-left: 15px;
    position: relative;
    top: -2px
  }

  .itemInfoMainCustomerFeedback p{
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin-top: 30px;
    color: #43425D;
    margin-left: -5px
  }

  .itemNameCustomer h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.28px;
    color: #663399;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .itemNameCustomer h2{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.96px;
    color: #4CECAC;
    text-transform: uppercase;
  }

  .ant-carousel .slick-dots li.slick-active button{
    width: 15px;
    height: 15px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    background: transparent linear-gradient(180deg, #663399 0%, #5F72BD 100%) 0% 0% no-repeat padding-box;
  }

  .ant-carousel .slick-dots li button{
    width: 15px;
    height: 15px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    background: white;
    background: transparent linear-gradient(180deg, #663399 0%, #5F72BD 100%) 0% 0% no-repeat padding-box;
  }

}

#itemPartnerCustomer{
  margin-top: 70px;

  .titlePartnerCustomer h1{
    text-align: center;
    font-size: 32px;
    font-weight: Bold ;
    letter-spacing: 2.56px;
    color: #663399;
    text-transform: uppercase;
  }
}



@import './theme.less';