@media (max-width: @screen-sm-max) {
    #reviewMain .backborder{
        margin: 0 auto;
        margin-bottom: 30px;
    }

    #aboutMeMain .videoYoutube iframe{
        width: 100%;
        height: 225px;
        margin-left: 25px;
        margin-top: 00px;
    }

    #priceTablePro .itemTablePriceProMqn{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    #FooterMain{
        margin-left: -20px;;
        .customFormFooter{
            width: 250px;
        }
    }

    #contactTestStart .contentContactTestStart h2{
        font-size: 18px;
    }

    .itemContactInfo{
        margin-left: 14px;
    }

    #aboutSystemFeature .itemContentRightSystem h1{
        line-height: 30px;
        font-size: 18px;
    }

    #solutionSystemContent .contentTitleSolution h2{
        font-size: 18px;
        line-height: 28px;
    }

    #aboutSystemFeature .imgLeftSystem img{
        height: 190px;
        top: 90px;
    }

    #solutionSystemContent .content{
        bottom: -120px;
    }

    .contentHeaderFeature h1{
        font-size: 18px;
    }

    #feature .contentItemFeature{
        margin-bottom: 40px;
        padding: 0px 10px;
    }

    #feature .itemContentFeature h1{
        font-size: 14px;
    }

    #feature .itemContentFeature p{
        font-size: 14px;
    }

    #solutionSystemContent .content{
        bottom: -175px;
    }

    #solutionSystemContent .content{
        height: 205px;
    }

    #solutionSystemContent .ant-carousel .slick-slide{
        height: 440px;
    }

    #feature .contentItemFeature img{
        width: 60px;
    }

    .logo h1{
        margin-left: -10px;
    }

    #bannerBodyFeature {
        height:500px;
        .contentHeaderFeature h1{
            font-size: 18px;
        }
    }
   
 

    #feature .contentFeature {
        margin-top: 20px;
    }

    #aboutSystemFeature .itemContentRightSystem p{
        padding: 0px 10px;
    }

    #solutionSystemContent .contentTitleSolution h1{
        font-size: 12px;
    }

    #aboutMain .contentTitleHeaderAbout h1{
        font-size: 20px;
    }

    #aboutMain{
        height: 500px;
    }

    #itemAboutMainDetail .itemContentDetailMain h2{
        font-size: 15px;
    }

    #itemAboutMainDetail .itemContentDetailMain h1{
        font-size: 14px;
    }

    #itemBorderRabowLeft .titleSevercieMain h2{
        padding: 0px 10px;
    }

    #itemBorderRabowLeft .itemServiceAbout img{
        margin-top: 0px;
    }

    .btnLogin{
        margin-left: 0px;
    }

    #itemPriceAllMqn .titleItemTalbePrice h2{
        font-size: 18px;
    }

    #itemPriceAllMqn .titleItemTalbePrice h1{
        font-size: 14px;
    }

    #itemPriceAllMqn {
        .itemInfoContentMain p{
            padding: 0px;
        }

        .itemInfoContentMain{
            margin-left: 0px;
        }
    }

    #itemFeedbackCustomer{
        margin-top: 50px;
    }

    #customerHeaderProMain{
        .itemTitleCustomer  p{
            padding: 0px 20px;
        }
    }


    #itemSystemAllTutorial{
        margin-top: 30px;

        .itemTitleAllTutorial h2{
            font-size: 20px;
            padding: 0px 24px;
        }

        .itemTitleAllTutorial h1{
            font-size: 14px;
        }
    }

    #ContactMainMqn{
        .itemInfoContactMain  p{
            width: 100%;
        }
    }

    #itemHeaderContactMain{
        .itemTitleCustomer p{
            padding: 0px 20px;
        }
    }

    #questionMainProMqn{
        padding: 0px 10px;
        .titleQestionMain h1{
            font-size: 24px;
        }
    }

    #border2Main{
        height: 200px;
        margin-bottom: -120px;
    }


    .btnLoginMenu{
        margin: 0 auto;
    }

}