@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');
html,
body {
  font-family: 'Nunito', sans-serif;
  background: #f0f2f5;
}

// html,
// body {
//   font-family: 'Be Vietnam Pro', Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji,sans-serif;
//   background: #f0f2f5;
// }

:root {
  --font-color: #292930;
  --background-color: white;
  --link-color: cornflowerblue;
  --background-color-menu: #F3F8FF;
  --background-body:#F0F4FC;
  --background-table-title: #F8FAFD;
  --color-border: #E5F0FE;
  --color-shadow: #D8E8FF;
  --background-card-bank:url('/static/img/background-bank.svg');
  --background-card-bank-solopay:#E5F1FF;
  --background-card-balance:#FFFFFF;
  --color-text-sub:#AFB9CB;
}

[data-theme="dark"] {
  --font-color: #f6f6f6;
  --background-color: #161F29;
  --link-color: lightblue;
  --background-color-menu: #131A21;
  --background-body:#11181E;
  --background-table-title: #141D26;
  --color-border: #23303f;
  --color-shadow: #0d0d0d;
  --background-card-bank:url('/static/img/background-bank2.svg');
  --background-card-bank-solopay:#00397E;
  --background-card-balance:#06174a;
  --color-text-sub:#6E88A9;
}



body{
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  color: var(--link-color);
}

.ant-badge-status-text{
  color: var(--font-color);
}


/* Custom Dark Mode Toggle Element */

.toggle-theme-wrapper {
  margin: 15px 20px;
}

// .toggle-theme-wrapper span {
//   font-size: 28px;
//   margin: 0 4px;
// }

// .toggle-theme {
//   position: relative;
//   display: inline-block;
//   height: 24px;
//   width: 48px;
// }

// .toggle-theme input {
//   display: none;
// }

// .slider {
//   background-color: #ccc;
//   position: absolute;
//   cursor: pointer;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//   transition: 0.2s;
// }

// .slider:before {
//   background-color: #fff;
//   bottom: 5px;
//   content: "";
//   height: 14px;
//   left: 4px;
//   position: absolute;
//   transition: 0.4s;
//   width: 14px;
// }

// input:checked + .slider:before {
//   transform: translateX(26px);
// }

// input:checked + .slider {
//   background-color: cornflowerblue;
// }

// .slider.round {
//   border-radius: 34px;
// }

// .slider.round:before {
//   border-radius: 50%;
// }


// end
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #3B4655;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

li:hover,
a:hover {
  border-color: none
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #E3E9F3;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #d4d4d4;
}

::-webkit-scrollbar {
  height: 8px;
  /* height of horizontal scrollbar ← You're missing this */
  width: 8px;
  /* width of vertical scrollbar */
  border: 1px solid #d4d4d4;
  border-radius: 10px;
}

.item-menu-mobile {
  display: none;
}

.float-right {
  float: right;
}

.ant-drawer-content-wrapper {
  width: 450px !important;
}

.ant-btn-primary {
  background: #0075ff;
  border-color: #0075ff;
}

.ant-input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
color: var(--color-text-sub);
}

.ant-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
color: var(--color-text-sub);
  opacity: 1;
}

.ant-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
color: var(--color-text-sub);
  opacity: 1;
}

.ant-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
color: var(--color-text-sub);
}

.ant-input::-ms-input-placeholder {
  /* Microsoft Edge */
color: var(--color-text-sub);
}

.ant-input::placeholder {
  /* Most modern browsers support this now. */
color: var(--color-text-sub);
}



.colorRed {
  color: #FC3149 !important;
}

.robot-mqn {
  width: 150px;
  position: fixed;
  bottom: -25px;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}


.ScrollUpButton__Container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.chartAreaMqn {
  height: 475px;
}

.coinSearch {
  font-size: 14px;
  line-height: 20px;
  color: #24D299;
  font-weight: bold;
}

.ant-select-item {
  padding: 5px 12px 0px 12px;
}

.ant-form-vertical .ant-form-item-label>label {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
}

.ant-list-item-meta-title {
  margin-bottom: -10px;
}

.ant-list-item-meta-title>a {
  font-weight: bold;
  font-size: 16px;
color: var(--font-color);
}

.ant-drawer-title {
  font-weight: bold;
  font-size: 18px;
}

.ant-list-item-meta-description {
  color: #828282;

  p {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 24px;
  }
}

.ant-card-meta-detail>div:not(:last-child) {
  font-weight: bold;
  margin-bottom: 2px;
}


.ant-card {
  margin-bottom: 30px;
}


.content-mqn {
  color: red;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}


// .trigger:hover {
//   color: #1890ff;
// }



.item-logo-ufo {
  display: flex;
  flex-direction: row;

  .logo {
    height: 32px;
    width: 100%;
    margin: 16px;
    background: #0075FF;
    display: block;
    border-radius: 50px;
    cursor: pointer;
  }

  .UfoMqn {
    top: -6px;
    right: -22px;
    position: absolute;
    cursor: pointer;
    padding: 12px 0px;

    span {
      color: #0075ff;
      font-size: 14px;
    }
  }

  .anticon-arrow-left{
    svg{
      background: #e6f7ff;
      width: 24px;
      height: 24px;
      padding: 6px;
      border-radius: 50%;
      position: absolute;
      right: 0;
    }
  }
}




.ant-layout-sider-collapsed{
  .logo {
    height: 32px;
    width: 32px;
    margin: 16px 24px;
    background: #0075FF;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    left: 4px;
    position: relative;
  }

  .UfoMqn {
    span {
      color: #0075ff;
      font-size: 14px;
    }
  }

  .anticon-arrow-right{
    svg{
      background: #e6f7ff;
      width: 24px;
      height: 24px;
      padding: 6px;
      border-radius: 50%;
      position: absolute;
      right: 0;
    }
  }
}
// .ant-menu-inline-collapsed{
//   .logo {
//     height: 32px;
//     width: 32px;
//     margin: 16px 24px;
//     background: #0075FF;
//     display: block;
//     border-radius: 50%;
//     cursor: pointer;
//   }

//   .UfoMqn {
//     top: -6px;
//     right: -22px;
//     position: absolute;
//     cursor: pointer;
//     padding: 12px 0px;

//     span {
//       color: #0075ff;
//       font-size: 14px;
//     }
//   }
// }
.site-layout {
  min-width: 100vh;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--background-body);
}

.site-layout .site-layout-background {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 24px;
  margin: 24px;
  min-height: 100vh;
  height: 100%;
}


.ant-picker-range {
  width: 100%;
}

.ant-dropdown-menu {
  margin: 10px 0px;
}

.ant-menu.ant-menu-dark {
  color: #6E88A9;
 background-color: var(--background-color-menu);
}

.ant-menu-vertical .icon {
  margin-top: 10px;
  margin-right: 50px;
  width: 20px;
  height: 20px;
  fill: none;
  stroke-width: 1.5px;
  stroke: white // stroke-dasharray: 2,2;
    // stroke-linejoin: round;
}

.ant-menu-vertical .text-bage {
  position: relative;
  top: 0px;
}



.badgeMenu {
  margin-left: 10px;
  float: right;
}

.ant-menu-inline .text-bage {
  position: relative;
  top: -6px;
}


.ant-menu-inline .icon {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  fill: none;
  stroke-width: 1.5px;
  margin-right: 15px;
  stroke: white // stroke-dasharray: 2,2;
    // stroke-linejoin: round;
}


.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected path {
  stroke: white
}

.ant-menu-submenu-title path,
.ant-menu-dark.ant-menu-vertical .ant-menu-item path,
.ant-menu-dark.ant-menu-inline .ant-menu-item path {
  stroke: #6E88A9
}

.ant-menu-dark .ant-menu-item>span>a {
  margin-top: -3px;
}

.ant-menu-dark .ant-menu-item:hover>span>a {
  color: unset;
}

.ant-menu-submenu-title span,
.ant-menu-dark .ant-menu-item>span>a {
  top: 3px;
  position: absolute;
}





.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  color: #6E88A9;
}

.item-menumain-slide-left {
  min-height: auto;
  height: auto;
  background-color: var(--background-color-menu);
  z-index: 9999;
  position: relative;
}

.ant-menu-dark .ant-menu-submenu-title:hover,
.ant-menu-dark .ant-menu-submenu-title:hover,
.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-vertical .ant-menu-item:hover,
.ant-menu-dark.ant-menu-vertical .ant-menu-item {
  color: #6E88A9;
}

.ant-menu-dark .ant-menu-item>span>a {
  color: unset;
}

.ant-menu-dark .ant-menu-item>span>a:hover {
  color: unset;
}

.ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
  color: #6E88A9;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
 background-color: var(--background-color-menu);
}

.ant-menu-dark .ant-menu-submenu-open {
  color: #6E88A9;
}

.ant-menu-submenu-arrow::after,
.ant-menu-submenu-arrow::before {
  background: #6E88A9 !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #0075FF;
  color: white !important;
}

.ant-menu-dark .ant-menu-sub {
  color: #6E88A9;
 background-color: var(--background-color-menu);
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item:hover {
  color: #6E88A9;
}

.trigger2 {
  span {
    color: #6E88A9;
  }
}

.ant-layout-sider {
 background-color: var(--background-color-menu);
}

.avatar-item {
  float: right;
  cursor: pointer;
}


.AreaChartMqn {
  margin-top: 20px;
  width: 100%;
}

.titleChartArea {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
color: var(--font-color);
  margin-bottom: -34px;
}

.top50 {
  margin-top: 50px
}

.comment-action {
  padding-left: 8px;
  cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}

.buttonViewDetail {
  background: #0075FF;
  color: white;
  border-color: #0075FF;

  img {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.buttonViewDetail:hover {
  background: #0075FF;
  color: white;
  border-color: #0075FF;
}

// .ant-btn:focus {
//   background: #828282;
//   outline: none;
//   border-color: #828282;
// }

.ant-space-item {
  .ant-btn:focus {
    background: #a5a5a5;
    outline: none;
    border-color: #a5a5a5;
  }
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.warning {
  color: #faad14;
  font-weight: bold;
}

.success {
  color: #0075FF;
  font-weight: bold;
}

.error {
  color: #f50;
  font-weight: bold;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

.buttonDeleteDetail {
  background: #FC3149;
  color: white;
  border-color: #FC3149;

  img {
    width: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.text-status {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #0075FF;

  .ant-badge {
    top: -2px;
  }
}

.buttonDeleteDetail:hover {
  background: #FC3149;
  color: white;
  border-color: #FC3149;
}



.ant-table-thead>tr>th {
  background-color: var(--background-table-title);
  border-bottom: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--font-color);
}

td.ant-table-column-sort{
  background: unset;
}

.ant-table-thead th.ant-table-column-sort,
.ant-table-thead th.ant-table-column-has-sorters:hover{
  background-color: var(--background-table-title);
  color: var(--font-color);
}



.ant-menu-dark {
  color: #6E88A9;
}

.ant-menu-dark .ant-menu-item-selected>span>a{
  color: white;
  &:hover{
    color: unset;
  }
}


.ant-menu-dark .ant-menu-item>a {
  color: unset;
  &:hover {
    color: unset;
  }
}


.ant-menu-item-active>a {
  color: white;

  &:hover {
    color: white;
  }
}

.ant-table-tbody>tr>td {
  border-bottom: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
color: var(--font-color);
}

tr:nth-child(odd) {
  background-color: var(--background-color);
}

tr:nth-child(even) {
 background-color: var(--background-color-menu);
}

.activeTimeMqn {
  .ant-badge-status-processing {
    background-color: #52c41a;
  }

  .ant-badge-status-processing::after {
    border: 1px solid #52c41a;
    // top: -0.5px;
    // left: -0.3px;
  }
}

.PendingTimeMqn {
  .ant-badge-status-processing {
    background-color: #FFC266;
  }

  .ant-badge-status-processing::after {
    border: 1px solid #FFC266;
    // top: -0.5px;
    // left: -0.3px;
  }
}

.stopTimeMqn {
  .ant-badge-status-processing {
    background-color: #fa541c;
  }

  .ant-badge-status-processing::after {
    border: 1px solid #fa541c;
    // top: -0.5px;
    // left: -0.3px;
  }
}

.text-red {
  color: #fa541c;
}

.text-Pending {
  color: #FFC266;
}

.flag-icon-lang {
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 57px;

  .lang-icon-select {
    z-index: 1;
    position: relative;
  }


  .ant-select-arrow {
    display: none;
  }

  .ant-select-selection-placeholder {
    opacity: 1;
  }


  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
    height: 34px;
  }

  .ant-select {
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 0px;
    width: 100%;

  }

}


// HeaderMqn
.HeaderMqn {
  background-color: var(--background-color-menu);
  box-shadow: 0px 16px 40px var(--color-shadow);;
  padding: 20px 35px 20px 50px;
  position: relative;

  .title-page {
    font-weight: bold;
    font-size: 28px;
    line-height: 22px;
  color: var(--font-color);
    padding-bottom: 15px;
  }

  .date-time-system {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-sub);
  }

  .notification-main {
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 14px;
    display: block;
    float: right;
    cursor: pointer;
    z-index: 1;
    position: relative;
  }

  .input-search-mqn {
    position: absolute;
    right: -7px;

    .ant-select-single .ant-select-selector {
      margin-top: 70px;
      margin-left: -10px;
    }

    .ant-input-affix-wrapper {
      border: 1px solid var(--color-border);;
      box-sizing: border-box;
      border-radius: 10px;
      background: transparent;
      padding: 15px;
      position: absolute;
      right: 10px;
      top: 0px;
    }


    .ant-select-auto-complete {
      width: 300px;
    }

    input {
      background: transparent;
    }

    .ant-input-search-icon::before {
      border-left: none;
    }

    .anticon[tabindex] {
      font-size: 24px;
      color: #6E88A9;
    }
  }

}

.total-monney-header-mqn {
  .item-total-monney {
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 42px 32px;
    width: 100%;
    height: 100%;

    .icon-total-img {
      background-color: var(--background-color);
      box-shadow: 0px 16px 40px var(--color-shadow);
      border-radius: 10px;
      padding: 17px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-bottom: 40px;
    }

    .number-total {
      display: inline-block;
      vertical-align: middle;
      margin-top: -30px;

      img {
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -4px;
      }

      .number-text {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: #24D299;
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 5px;

        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #24D299;
        }
      }

      .color-text {
        color: #E44E51;

        span {
          color: #E44E51
        }
      }
    }

    .content-main {
      .number-total-main {
        font-weight: bold;
        font-size: 30px;
        line-height: 20px;
      color: var(--font-color);
        padding-bottom: 5px;
      }

      .text-number {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: var(--color-text-sub);
        margin-top: 12px;
      }
    }
  }
  .item-card-bank {
    background: var(--background-card-bank) no-repeat;
    background-size: cover;
    height: 100%;
    padding: 24px;
    border-radius: 10px;

    .content-title-left {
      .title-bank {
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 30px;
        margin-top: 10px;
      }

      .item-card-bank-detail-text {
        background-color: var(--background-card-balance);
        border-radius: 10px;
        padding: 20px;

        .title-bank-detail {
          font-weight: bold;
          font-size: 22px;
          line-height: 28px;
        color: var(--font-color);
          padding-bottom: 5px;
        }

        .text-time {
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: var(--color-text-sub);
        }

        .item-numberbank-pay {
          display: flex;
          flex-direction: row;

          .title-number-bank {
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
          color: var(--font-color);
            margin-top: 15px;
          }

          .sologpay {
            background: var(--background-card-bank-solopay);
            border-radius: 10px;
            padding: 10px 15px;
            position: absolute;
            right: 30px;

            img {
              display: inline-block;
              vertical-align: middle;
              padding-right: 10px;
            }

            .text-option {
              display: inline-block;
              vertical-align: middle;
              font-weight: bold;
              font-size: 14px;
              line-height: 28px;
            color: var(--font-color);
            }
          }
        }
      }

    }

    .item-text-right {
      img {
        float: right;
      }
    }

    .item-total-monney-detail-right {
      position: absolute;
      bottom: 32px;

      .text-total-monney {
        font-weight: bold;
        font-size: 34px;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 10px;
        text-align: right;
      }

      .text-decs-total-monney {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
      }
    }
  }
}

.sale-repost-mqn-main {
  margin-top: 24px;

  .chart-report-dasbroad {
    border: 1px solid var(--color-border);;
    padding: 24px;
    border-radius: 10px;
  }

  .list-user-report-trade {
    border: 1px solid var(--color-border);;
    padding: 24px;
    border-radius: 10px;

    .title-list-user {
      padding-bottom: 30px;

      .title {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
      color: var(--font-color);
        display: inline-block;
        vertical-align: middle;
      }

      img {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-top: 15px;
        cursor: pointer;
      }
    }

    .item-detail-user-trade {
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }

      .item-info-avata {
        display: inline-block;
        vertical-align: middle;
        padding-right: 20px;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }

      .item-info-name {
        display: inline-block;
        vertical-align: middle;

        .name-user {
          font-weight: bold;
          font-size: 20px;
          line-height: 32px;
        color: var(--font-color);
        }

        .time-ago {
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: var(--color-text-sub);
        }
      }

      .total-money-user-trade {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        text-align: right;
        color: #24D299;
        margin-top: 15px;
      }
    }
  }
}

.list-product-popular {
  border: 1px solid var(--color-border);;
  padding: 24px 24px 14px 24px;
  border-radius: 10px;
  margin-top: 24px;

  .title-content-table {
    padding-bottom: 28px;

    .title-table {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }

    img {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}

.table-checkbox-mqn {
  border: 1px solid var(--color-border);;
  padding: 24px 24px 14px 24px;
  border-radius: 10px;

  .title-content-table {
    padding-bottom: 28px;

    .title-table {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }

    img {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
    }
  }
}

.Modal-mqn {
  border: 1px solid var(--color-border);;
  padding: 24px 24px 56px 24px;
  border-radius: 10px;

  .title-content-table {
    padding-bottom: 28px;

    .title-table {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }

    img {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
    }
  }

  tr:nth-child(even) {
    background: white;
  }
}

.img-product {
  background: rgba(181, 206, 236, 0.2);
  border-radius: 10px;
  padding: 12px;
}

.nameUser {
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
color: var(--font-color);
}

.tagid {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #6E88A9;
}

.text-decs-table {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
color: var(--font-color);
}

.text-decs-table-bold {
  font-weight: bold;
}

.pricePopular {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #24D299;
}

.site-layout-background {
  .demo-option-label-item>span {
    margin-right: 6px;
  }
}

.error-page {
  position: relative;

  .content-error {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, 20%);

    img {
      margin: 0 auto;
      display: block;
      width: 650px;
      height: auto;
      padding-bottom: 20px;
    }

    .title-error {
      font-weight: bold;
      font-size: 38px;
      line-height: 60px;
      text-align: center;
    color: var(--font-color);
      padding-bottom: 5px;
    }

    .decs-error {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      color: #6A7C92;
    }
  }
}


.public-profile-mqn {
  border: 1px solid var(--color-border);;
  padding: 24px;
  border-radius: 10px;
  height: 100%;

  .title-content {
    padding-bottom: 30px;

    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }

    img {
      float: right;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      width: 34px;
    }
  }

  .content-info-user-profile-mqn {
    .avata-profile-mqn-main {
      position: relative;
      padding-bottom: 20px;

      img {
        margin: 0 auto;
        width: 130px;
        height: auto;
        object-fit: cover;
        display: block;
      }

      .tick-online {
        display: block;
        background: #24D299;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        right: 35%;
        bottom: 16%;
      }
    }

    .profile-name {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    color: var(--font-color);
    }

    .profile-position {
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: #3249FF;
    }
  }

  .content-contact-profile-user {
    padding-top: 30px;

    .item-contact-user {
      padding-bottom: 35px;

      .label-contact {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #6E88A9;
      }

      .text-contact {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
      color: var(--font-color);
      }

      .list-avata {
        padding-top: 10px;

        .ant-avatar {
          margin-right: -10px;
          border: 1px solid white;
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }

      .tag-activity {
        background: rgba(36, 210, 153, 0.2);
        border-radius: 5px;
        width: 80px;
        height: auto;
        margin-top: 10px;

        .text {
          font-weight: bold;
          font-size: 14px;
          line-height: 32px;
          text-transform: uppercase;
          color: #24D299;
          padding: 0px 15px;
        }
      }

      .item-process-hour {
        padding-top: 20px;

        .text-progress {
          font-weight: 600;
          font-size: 16px;
          line-height: 32px;
        color: var(--font-color);
        }

        .ant-progress-text {
          position: absolute;
          top: -30px;
          font-weight: 600;
          font-size: 16px;
          line-height: 32px;
          text-transform: uppercase;
          color: #6E88A9;
        }

        .ant-progress-bg {
          background-color: #24D299;
        }

        .ant-progress-show-info .ant-progress-outer {
          margin-right: calc(-2em - 8px);
          padding-right: 0;
        }
      }
    }

    .item-total-data-item-contact {
      display: flex;
      flex-direction: row;
      padding-top: 30px;
      padding-bottom: 35px;

      .item-total {
        border-right: 1px solid var(--color-border);;
        width: 50%;

        &:last-child {
          border: none;
        }

        .label-item-total {
          font-weight: bold;
          font-size: 14px;
          line-height: 32px;
          text-transform: uppercase;
          color: #6E88A9;
        }

        .number-item-total {
          font-weight: bold;
          font-size: 30px;
          line-height: 32px;
        color: var(--font-color);
        }
      }

      .right {
        .label-item-total {
          text-align: right;
        }

        .number-item-total {
          text-align: right;
        }
      }
    }
  }
}


.item-chart-colum-profile {
  border: 1px solid var(--color-border);;
  padding: 24px;
  border-radius: 10px;

  .title-content {
    padding-bottom: 0;
    margin-bottom: -27px;

    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }

    img {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

.item-chart-total-data-mqn {
  height: 270px;
}

.total-money-main-mqn {
  border: 1px solid var(--color-border);;
  padding: 24px;
  border-radius: 10px;

  .title-content {
    padding-bottom: 0;
    margin-bottom: -27px;

    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 30px;
    }

    img {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .item-chart-total-money-main-mqn {
    .item-chart-song-mqn-main {
      margin: 0 auto;
      display: table;
    }

    .text-decs-total-mqn {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #6E88A9;
      width: 55%;
      margin: 0 auto;
    }
  }
}

.item-total-social-data-mqn {
  border: 1px solid var(--color-border);;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  position: relative;
  margin-top: 24px;

  .more-action {
    img {
      float: right
    }
  }

  .item-main-social-data {
    display: flex;
    flex-direction: row;

    .item-avata-social {
      padding: 20px;
      background-color: var(--background-color);
      box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.15);
      border-radius: 10px;
      margin-right: 24px;
      width: 70px;
      height: 70px;
    }

    .item-content-total-number-mqn {
      .number-total-monney {
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
      color: var(--font-color);
        padding-bottom: 10px;
      }

      .number-decs {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        color: #6E88A9;
      }

      .number-monney-total {
        display: inline-block;
        vertical-align: middle;
        bottom: 12px;
        position: absolute;
        right: 24px;

        img {
          border-radius: 10px;
          padding: 10px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -4px;
        }

        .number-text {
          font-weight: bold;
          font-size: 22px;
          line-height: 30px;
          color: #24D299;
          display: inline-block;
          vertical-align: middle;
          padding-bottom: 5px;

          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #24D299;
          }
        }

        .color-text {
          color: #E44E51;

          span {
            color: #E44E51
          }
        }
      }
    }
  }
}

.item-chart-area-total-profile-main {
  border: 1px solid var(--color-border);;
  padding: 24px;
  border-radius: 10px;
  margin-top: 24px;

  .chartAreaMqn {
    height: 510px;
  }
}

.list-component-library {
  border: 1px solid var(--color-border);;
  padding: 24px 24px 14px 24px;
  border-radius: 10px;
  margin-top: 24px;

  .title-content-library {
    padding-bottom: 15px;

    .title-library {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }

    .item-button-new-job {
      float: right;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .list-tabs-job-mqn {
    .item-table {
      margin-top: 15px;
    }

    .ant-tabs-tab {
      margin: 0 15% 0 0;

      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #AEB2B5;
      }

      .TagsTotal {
        background: #CDF0F9;
        color: #0075FF;
        padding: 5px 15px;
        border-radius: 10px;
        margin-left: 10px;
        font-weight: bold;
      }
    }

    .ant-tabs-tab-active {
      span {
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
      color: var(--font-color);
      }

      .TagsTotal {
        background: #0075FF;
        color: white;
        padding: 5px 15px;
        border-radius: 10px;
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}

.color-pink {
  .ant-progress-bg {
    background-color: #DB5AEE;
  }
}


.color-yellow {
  .ant-progress-bg {
    background-color: #F3A42A;
  }
}

.color-aqua {
  .ant-progress-bg {
    background-color: #30E1FA;
  }
}

.color-aqua {
  .ant-progress-bg {
    background-color: #30E1FA;
  }
}


.item-list-dowload-file {
  border: 1px solid var(--color-border);;
  padding: 24px;
  border-radius: 10px;
  height: 100%;

  .item-icon-file {
    .item-icon {
      display: inline-block;
      vertical-align: middle;
      background-color: var(--background-color);
      box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.15);
      border-radius: 10px;
      padding: 12px;
      width: 55px;
      height: 55px;
      position: relative;

      img {
        width: 30px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .item-more {
      display: inline-block;
      vertical-align: middle;
      float: right;
    }
  }


  .item-process-hour {
    padding-top: 20px;

    .text-progress {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
    color: var(--font-color);
      padding-bottom: 10px;
    }

    .ant-progress-text {
      position: absolute;
      top: -36px;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
      text-transform: uppercase;
      color: #6E88A9;
    }



    .ant-progress-show-info .ant-progress-outer {
      margin-right: calc(-2em - 8px);
      padding-right: 0;
    }
  }

  .item-info-size-file {
    margin-top: 10px;
    padding-bottom: 24px;

    .total-file {
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      color: #6E88A9;
      float: left;
    }

    .total-size {
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
    color: var(--font-color);
      font-weight: bold;
      text-transform: uppercase;
      float: right;
    }
  }
}

.item-chart-starage-detail {
  border: 1px solid var(--color-border);;
  padding: 24px;
  border-radius: 10px;
  height: 100%;

  .title-content {
    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }

    img {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}


.chart-pie-style {
  margin-bottom: -26px;
  position: relative;

  .total-size-file {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      font-weight: bold;
      font-size: 14px;
      line-height: 32px;
      text-align: center;
      color: #6E88A9;
      display: block;
    }

    .total {
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
    color: var(--font-color);
    }
  }
}

.item-chart-pie {
  .item-list-file-total {
    background-color: var(--background-color);
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 24px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 24px;

    .item-icon-file {
      img {
        margin-right: 15px;
        position: relative;
        top: 20%;
      }
    }

    .content-file {
      margin-right: 20px;

      .title-file {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
      color: var(--font-color);
      }

      .total-file {
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        color: #6E88A9;
      }
    }

    .content-size {
      .total-size {
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        text-align: right;
        text-transform: uppercase;
      color: var(--font-color);
        position: absolute;
        right: 24px;
        top: 30%;
      }
    }
  }
}

.item-recent-order-table {
  border: 1px solid var(--color-border);;
  padding: 24px 24px 12px 24px;
  border-radius: 10px;
  margin-top: 24px;
  max-height: 598px;
  height: 100%;

  .title-content {
    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }

    img {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .chartRencentMqn {
    margin-top: 24px;

    .ant-table-body {
      &::-webkit-scrollbar {
        background-color: transparent;
        width: 0px;
      }
    }


    .ant-table-body:hover {
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d4d4d4
      }
    }

    @media (hover: none) {
      .ant-table-body {
        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #d4d4d4
        }
      }
    }
  }
}


.item-analytics-chart-mqn {
  border: 1px solid var(--color-border);;
  padding: 24px 24px 25px 24px;
  border-radius: 10px;
  margin-top: 24px;

  .title-content {
    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      display: inline-block;
      vertical-align: middle;
    }
  }

  .item-chart-analytic-mqn {
    height: 545px;
    margin-top: -30px;
  }
}


.camp-plugin-mqn {
  .item-header-background-camp {
    background: url('/static/img/background-haeder-camp.png') no-repeat;
    width: calc(100% - 80px);
    height: calc(100% + 2px);
    background-size: cover;
    position: relative;
    border-radius: 10px;
    left: 80px;

    .img-head-camp {
      img {
        position: absolute;
        left: -85px;
        top: 10px;
        width: 370px;
      }
    }

    .item-content-title-header-camp {
      position: absolute;
      left: 47%;
      top: 50%;
      transform: translate(0%, -50%);

      .title {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
      color: var(--font-color);
        padding-bottom: 10px;
      }

      .decs-camp {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #6E88A9;
        padding-bottom: 20px;
        width: 440px;
      }

      button {
        background: rgba(229, 240, 254, 0.3);
        padding: 6px 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #0075FF;
        border: 1px solid #0075FF;
        height: 40px;

        &:hover {
          background: #0075FF;
          color: white;
        }
      }
    }
  }

  .item-card-bank {
    background: url('/static/img/background-bank.svg') no-repeat;
    background-size: cover;
    height: 100%;
    padding: 24px;
    border-radius: 10px;

    .content-title-left {
      .title-bank {
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 30px;
        margin-top: 10px;
      }

      .item-card-bank-detail-text {
        background-color: var(--background-color);
        border-radius: 10px;
        padding: 20px;

        .title-bank-detail {
          font-weight: bold;
          font-size: 22px;
          line-height: 28px;
        color: var(--font-color);
          padding-bottom: 5px;
        }

        .text-time {
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: var(--color-text-sub);
        }

        .item-numberbank-pay {
          display: flex;
          flex-direction: row;

          .title-number-bank {
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
          color: var(--font-color);
            margin-top: 15px;
          }

          .sologpay {
            background: #E5F1FF;
            border-radius: 10px;
            padding: 10px 15px;
            position: absolute;
            right: 30px;

            img {
              display: inline-block;
              vertical-align: middle;
              padding-right: 10px;
            }

            .text-option {
              display: inline-block;
              vertical-align: middle;
              font-weight: bold;
              font-size: 14px;
              line-height: 28px;
            color: var(--font-color);
            }
          }
        }
      }

    }

    .item-text-right {
      img {
        float: right;
      }
    }

    .item-total-monney-detail-right {
      position: absolute;
      bottom: 32px;

      .text-total-monney {
        font-weight: bold;
        font-size: 34px;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 10px;
        text-align: right;
      }

      .text-decs-total-monney {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
      }
    }
  }


}

.item-detail-camp {
  margin-top: 24px;

  .list-camp-main {
    margin-top: 24px;

    .content-title-camp {
      margin-bottom: 24px;
      display: flex;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      .title-camp {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
      color: var(--font-color);
      }

      .show-more {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #0075FF;
        right: 0;
        position: absolute;
        cursor: pointer;
        top: 6px;
      }
    }


  }

  .list-camp {
    padding: 34px 24px 24px 24px;
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    height: calc(100% - 24px);
    margin-bottom: 24px;

    .info-plugins {
      .title-plugins {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
      color: var(--font-color);
        padding-bottom: 15px;
      }

      .decs-plugins {
        font-size: 14px;
        line-height: 20px;
        color: #6E88A9;
        padding-bottom: 50px;
        width: 80%;
      }

      .price-camp {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #0075FF;

        span {
          font-weight: bold;
          font-size: 14px;
          line-height: 32px;
          color: #6E88A9;
        }
      }
    }

    .avata-plugins {
      img {
        margin-bottom: 50px;
        width: 110px;
        height: 100px;
        object-fit: contain;
      }

      .button-detail {
        position: relative;

        button {
          border: 1px solid #0075FF;
          box-sizing: border-box;
          padding: 6px 12px;
          height: 40px;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #0075FF;
          position: absolute;
          right: 0;
          width: 90px;
          transition: 0.3s;

          &:hover {
            background: #0075FF;
            color: white;
          }
        }
      }

      .turn-on-off-plugin {
        float: right;
        margin-top: 12px;
      }
    }
  }

  .item-optimal-usage-main {
    border: 1px solid #f7f7f7;
    padding: 24px;
    border-radius: 10px;
    height: 100%;

    .title-content {
      padding-bottom: 30px;

      .title {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
      color: var(--font-color);
        display: inline-block;
        vertical-align: middle;
      }

      img {
        float: right;
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        cursor: pointer;
      }
    }

    .item-detial-info-optimal-plugin {
      background-color: var(--background-color);
      border: 1px solid var(--color-border);;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 24px;
      display: flex;
      flex-direction: row;
      position: relative;
      margin-bottom: 24px;

      .item-progess-plugin-mqn {
        .ant-progress-inner {
          width: 100px !important;
          height: 100px !important;
          font-size: 20px !important;
        }
      }

      .item-info-plugin-progess {
        margin-left: 20px;
        margin-top: 17px;

        .title {
          font-weight: bold;
          font-size: 16px;
          line-height: 32px;
        color: var(--font-color);
        }
      }

      .time-day {
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        color: #6E88A9;
      }

      .item-time-price-setting-plugin {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translate(0%, -50%);

        .price {
          font-weight: bold;
          font-size: 14px;
          line-height: 32px;
          text-align: right;
        color: var(--font-color);
        }
      }
    }

    .sucess {
      .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
        stroke: #0075FF;
      }

      .ant-progress-text {
        font-weight: 600;
        color: #0075FF !important;
      }
    }

    .warning {
      .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
        stroke: #F3A42A;
      }

      .ant-progress-text {
        font-weight: 600;
        color: #F3A42A !important;
      }
    }

    .error {
      .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
        stroke: #FC3149;
      }

      .ant-progress-text {
        font-weight: 600;
        color: #FC3149 !important;
      }
    }

    .good {
      .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
        stroke: #24D299;
      }

      .ant-progress-text {
        font-weight: 600;
        color: #24D299 !important;
      }
    }

    .item-traffic-social-mqn-plugin {
      .title {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
      color: var(--font-color);
        display: inline-block;
        vertical-align: middle;
        margin-bottom: -50px;
      }

      .item-chart-plugin {
        height: 480px;
      }
    }
  }
}


.steps-content {
  margin-top: 44px;
}

.steps-action {
  margin-top: 50px;
  position: relative;
  margin-bottom: 100px;

  .nextStep {
    position: absolute;
    right: 0;
  }

  .done {
    position: absolute;
    right: 0;
  }

  .previous {
    position: absolute;
    left: 0;
  }
}

.item-step-success-mqn {
  .item-img-success {
    img {
      margin: 0 auto 28px;
      display: block;
    }

    .item-name-user {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #6E88A9;
      padding-bottom: 12px
    }

    .title-success {
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      text-align: center;
      color: #24D299;
      padding-bottom: 18px;
    }

    .decs-success {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    color: var(--font-color);
    }

    .item-total-data-bill {
      padding: 24px;
      border: 1px solid var(--color-border);;
      box-sizing: border-box;
      border-radius: 4px;
      width: 60%;
      margin: 40px auto;

      .item-data-total {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-bottom: 40px;

        .title {
          position: absolute;
          left: 0;
          font-family: Nunito;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          color: #6E88A9;
        }

        .text {
          position: absolute;
          right: 0;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
        color: var(--font-color);
        }

        .color-blue {
          color: #0075FF;
          font-weight: bold;
        }
      }

      .decs-rate-bill {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #6E88A9;
        padding-bottom: 15px;
        text-align: center;
      }

      .ant-rate {
        margin: 0 auto;
        display: table;
      }
    }
  }
}


.list-form-1 {
  margin-bottom: -30px;

  .showMorePrivacyPolicy {
    color: #0075FF;
    font-weight: bold;
    cursor: pointer;
  }
}

.item-payment-step2 {
  .your-saved-card {
    padding-top: 20px;

    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
    color: var(--font-color);
      padding-bottom: 10px;
    }

    .ant-collapse>.ant-collapse-item>.ant-collapse-header {
      background: white;
      padding-left: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: #6E88A9;
    }

    .ant-collapse-content>.ant-collapse-content-box {
      padding: 0;
    }

    .ant-collapse {
      border: none;
    }

    .ant-collapse>.ant-collapse-item {
      border: none;
      border-bottom: 1px solid #F0F0F0;

      &:last-child {
        border-bottom: none;
      }
    }

    .ant-collapse-content {
      border-top: none;
    }

    .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
      right: 16px;

      svg {
        float: right;
      }
    }

    .item-international-bank-card {
      background: url('/static/img/background-card-bank.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 20px 24px 24px 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
          font-weight: bold;
          font-size: 10px;
          line-height: 16px;
          text-transform: uppercase;
          color: #979797;
          margin-top: 16px;
        }

        .number-card {
          font-weight: bold;
          font-size: 22px;
          line-height: 32px;
          color: #FFFFFF;
          padding-bottom: 5px;
          padding-top: 12px;

          span {
            margin-right: 75px;
          }
        }

      }

      .item-info-card {
        display: flex;
        flex-direction: row;
        position: relative;

        .item-card-info {
          .title {
            font-weight: bold;
            font-size: 10px;
            line-height: 20px;
            text-transform: uppercase;
            color: #979797;
            margin-bottom: -12px;
          }

          .decs-text {
            font-weight: bold;
            font-size: 14px;
            line-height: 32px;
            color: #FFFFFF;
          }
        }

        .content-right {
          position: absolute;
          right: 0;

          .title {
            text-align: right;
          }

          .decs-text {
            text-align: right;
          }
        }
      }
    }

    .backgound-mastercard {
      background: url('/static/img/master-card.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
        color: var(--font-color);
        }
      }

      .item-info-card {
        .item-card-info {
          .title {
          color: var(--font-color);
          }
        }
      }
    }

    .backgound-unionpay {
      background: url('/static/img/background-unionpay.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
        color: var(--font-color);
        }
      }

      .item-info-card {
        .item-card-info {
          .title {
          color: var(--font-color);
          }
        }
      }
    }

    .solopay {
      background: url('/static/img/solopay.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
        color: var(--font-color);
        }
      }

      .item-info-card {
        .item-card-info {
          .title {
          color: var(--font-color);
          }
        }
      }
    }

    .momo {
      background: url('/static/img/momo.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
        color: var(--font-color);
        }
      }

      .item-info-card {
        .item-card-info {
          .title {
          color: var(--font-color);
          }
        }
      }
    }

    .ant-radio-wrapper {
      .item-international-bank-card {
        border: 2px solid var(--color-border);;
        height: 190px;
        border-radius: 6px;
      }
    }

    .ant-radio-wrapper-checked {
      .item-international-bank-card {
        border: 2px solid #096dd9;
        height: 190px;
        border-radius: 6px;
      }
    }

    .ant-radio-group {
      width: 100%;
    }

    .ant-radio-wrapper {
      width: 100%;
    }

    .ant-radio {
      position: absolute;
      right: 24px;
      top: 24px;
    }

    .item-list-banking-atm {
      .item-bank-atm {
        position: relative;
        margin-bottom: 18px;

        img {
          margin: 0 auto;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .ant-radio-wrapper {
        border: 1px solid var(--color-border);;
        width: 100%;
        border-radius: 4px;
        height: 85px;
        margin-bottom: 24px;
      }

      .ant-radio-wrapper-checked {
        border: 1px solid #096dd9;
        width: 100%;
        border-radius: 4px;
      }

      .ant-radio {
        right: 10px;
        top: 14px;
        z-index: 1;
      }

      .ant-radio-checked {
        right: 10px;
        top: 14px;
      }
    }
  }

  .table-list-camp {
    .content-title {
      display: flex;
      flex-direction: row;
      position: relative;
      margin-bottom: 32px;

      .title {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
      color: var(--font-color);
      }

      .decs-note {
        position: absolute;
        right: 0;
        top: 5px;

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 12px;
          width: 16px;
        }

        .decs {
          display: inline-block;
          vertical-align: middle;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          color: #6E88A9;
        }
      }
    }
  }

  .totalBudgetText {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #0075FF;
  }

  .item-info-right-recipient-account {
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;

    .item-account-information {
      .title-header-main-mqn {
        padding-bottom: 16px;

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }

        .title {
          font-weight: 600;
          font-size: 22px;
          line-height: 32px;
        color: var(--font-color);
          display: inline-block;
          vertical-align: middle;
        }
      }

      .content-detail-account {
        .sub-title {
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
        color: var(--font-color);
          padding-bottom: 6px;
        }

        .item-list-info {
          display: flex;
          flex-direction: row;
          position: relative;

          .sub-title-info {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: #6E88A9;
          }

          .decs-text-info {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
          color: var(--font-color);
            position: absolute;
            right: 0;

            img {
              margin-top: -12px;
            }
          }
        }
      }
    }
  }

  .item-discount-code {
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;

    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
    color: var(--font-color);
      padding-bottom: 16px;
    }

    .ant-checkbox+span {
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: #0075FF;
      padding-top: 16px;
    }

    .ant-form label {
      padding-top: 16px;
    }

    .ant-checkbox-wrapper {
      margin-top: 15px;
    }
  }

  .item-total-bill-number-mqn {
    .item-header-bill {
      background: #FFDFEC;
      border: 1px solid #FFDFEC;
      box-sizing: border-box;
      border-radius: 4px 4px 0px 0px;
      padding: 16px 24px;

      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
      color: var(--font-color);
        display: inline-block;
        vertical-align: middle;

        span {
          font-weight: bold;
          font-size: 18px;
          line-height: 32px;
          color: #FF0C72;
          margin-left: 2px;
          display: inline-block;
          vertical-align: middle;
          margin-top: -6px;
        }
      }
    }

    .item-total-price-bill {
      border: 1px solid var(--color-border);;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 24px;
      margin-bottom: 24px;


      .item-content-bill {
        .title {
          font-weight: bold;
          font-size: 18px;
          line-height: 32px;
        color: var(--font-color);
          padding-bottom: 5px;
        }

        .item-info-detail-bill {
          display: flex;
          flex-direction: row;
          position: relative;
          padding-bottom: 5px;

          .sub-title {
            font-weight: 500;
            font-size: 16px;
            color: #6E88A9;
            line-height: 32px;
          }

          .decs-price {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: #6E88A9;
            position: absolute;
            right: 0;
          }

          .price-sale {
            text-decoration-line: line-through;
          }

          .total-bill-price {
            color: #0075FF;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }
        }

        .item-more-document-sale {
          .decs-text {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
          color: var(--font-color);

            span {
              color: #0075FF;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }

      .item-service-detail-bill {
        .item-service {
          margin-bottom: 20px;

          img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 14px;
          }

          .decs {
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
          color: var(--font-color);
          }
        }
      }

      .item-show-more-promocode {
        .desc {
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
        color: var(--font-color);
          text-align: center;

          span {
            color: #0075FF;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}


.login-main-mqn {
  background: white;
  min-height: 100vh;
  height: 100%;

  .item-form-login-main {
    padding: 40px;
    position: relative;
    height: 100%;
    left: -85px;

    .logo {
      background: #0075FF;
      width: 70px;
      height: 70px;
      display: block;
      margin-bottom: 46px;
      border-radius: 50%;
    }

    .title {
      font-weight: bold;
      font-size: 38px;
      line-height: 32px;
    color: var(--font-color);
      padding-bottom: 20px;
    }

    .decs-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #6E88A9;
      padding-bottom: 50px;
    }

    .ant-divider-inner-text {
      font-weight: 500;
      font-size: 14px;
      color: #BBB9CA;
    }

    .item-login-google {
      background-color: var(--background-color);
      border: 1px solid #E1E0E7;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 18px;
      text-align: center;
      margin-bottom: 24px;
      cursor: pointer;

      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
      color: var(--font-color);
      }
    }

    .ant-input-affix-wrapper {
      padding: 18px;
      border-radius: 4px;
    }

    .ant-input-password {
      border-radius: 4px;

      input {
        padding: 0px;
        background: transparent;
      }
    }

    .ant-input-suffix {
      right: 18px;
      position: relative;
    }

    .forgot-your-password {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #0075FF;
      text-align: right;
      cursor: pointer;
    }

    .ant-checkbox-wrapper {
      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.85);
      }

      .colorBlue {
        color: #0075FF;
      }
    }

    button {
      height: 55px;
      width: 100%;
      border-radius: 4px;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: #FFFFFF;
    }

    .item-create-account {
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
    color: var(--font-color);
      margin-bottom: 80px;

      span {
        a {
          color: #0075FF;
          cursor: pointer;
          margin-left: 5px;
          font-weight: bold;
        }
      }
    }

    .item-copyright-login-system {
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #BBB9CA;
      position: absolute;
      bottom: 40px;
    }
  }

  .item-background-info-img {
    background: url('/static/img/background-login.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    padding: 120px 90px 0px 90px;

    .item-info-img-slide {
      img {
        margin: 0 auto;
        display: block;
        width: 100%;
      }

      .content-slide {
        .title {
          font-weight: bold;
          font-size: 30px;
          line-height: 38px;
          text-align: center;
          color: #FFFFFF;
          padding-bottom: 30px;
          width: 40%;
          margin: -20px auto;
        }

        .decs {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #FFFFFF;
          margin: 0 auto;
          width: 45%;
        }
      }
    }
  }
}

.ant-carousel .slick-dots-bottom {
  bottom: -50px;
}


.ant-carousel .slick-dots li button {
  border-radius: 20px;
  height: 8px;
  width: 8px;
}

.ant-carousel .slick-dots li.slick-active button {
  width: 22px;
  height: 8px;
}

.ant-carousel .slick-dots li.slick-active {
  margin-right: 8px;
}

.item-edit-view-detail-overview-profile {
  .item-tab-main-overview {
    .ant-tabs-nav-list {
      margin: 0px auto;
    }

    .ant-tabs-tab {
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
    color: var(--font-color);
    }

    .ant-tabs-tab.ant-tabs-tab-active {
      color: #0075FF;
    }

    .item-tab-profile {
      margin-top: 70px;

      .ant-tabs-left>.ant-tabs-content-holder {
        border-left: none;
        margin-left: 0;
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        color: #0075FF;
        background: #F5FAFF;
        border-radius: 50px;
        margin: 0 auto;
        padding: 6px 30px;
      }

      .ant-tabs-tab {
        border: none;
        background: transparent;
        padding: 6px 30px;
        margin: 0 auto;
      }

      .ant-tabs-card.ant-tabs-left>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type) {
        margin: 0 auto 20px;
        padding: 6px 30px;
      }

      .item-logo-main {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 30px;

        .img-avata {
          .ant-upload-list-picture-card .ant-upload-list-item {
            border-radius: 50%;
            margin: 0;
            width: 110px;
            height: 110px;
            border: none;
          }

          .ant-upload-list-item-info {
            border-radius: 50%;
          }

          .ant-upload.ant-upload-select-picture-card {
            border-radius: 50%;
          }
        }

        .item-content-name-user {
          margin: 26px;

          .name {
            font-weight: bold;
            font-size: 28px;
            line-height: 28px;
          color: var(--font-color);
            padding-bottom: 6px;
          }

          .decs {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: #3249FF;
          }
        }
      }

      .item-form-info-profile {
        .title {
          margin-top: 20px;
          font-weight: bold;
          font-size: 22px;
          line-height: 32px;
        color: var(--font-color);
          padding-bottom: 20px;
        }

        .text-send-again {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #6E88A9;
          margin-top: 36px;

          span {
            color: #0075FF;
            font-weight: bold;
            cursor: pointer;
          }
        }

        .item-decs-email {
          display: flex;
          flex-direction: row;
          margin-top: 2px;
          position: relative;
          top: -10px;
          margin-bottom: 12px;

          img {
            width: 16px;
            height: 16px;
            margin-top: 3px;
          }

          .text {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #6E88A9;
            margin-left: 10px;
          }
        }

        .top-10 {
          top: 10px;
        }
      }

      .button-form {
        margin-top: 20px;
      }

      .item-list-billing-plugin {
        .title {
          font-weight: bold;
          font-size: 22px;
          line-height: 32px;
        color: var(--font-color);
          padding-bottom: 20px;
        }
      }

      .item-form-password {
        .title {
          font-weight: bold;
          font-size: 22px;
          line-height: 32px;
        color: var(--font-color);
          padding-bottom: 20px;
        }
      }

      .item-form-setting {
        padding-bottom: 20px;

        .title {
          font-weight: bold;
          font-size: 22px;
          line-height: 32px;
        color: var(--font-color);
          padding-bottom: 6px;
        }

        .decs {
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          color: #6E88A9;
        }
      }

      .top-10-setting {
        margin-top: 10px;
      }


      .top-40-setting {
        margin-top: 40px;
      }

      .item-checkbox-setting {
        padding-bottom: 20px;

        .ant-checkbox+span {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        color: var(--font-color);
          margin-left: 10px;
        }

        .decsText {
          color: #6E88A9;
          font-size: 14px;
          margin-left: 35px;
        }
      }

      .item-radio-setting {
        padding-bottom: 20px;

        .ant-radio+span {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        color: var(--font-color);
          margin-left: 10px;
        }

        .decsText {
          color: #6E88A9;
          font-size: 14px;
          margin-left: 35px;
        }
      }
    }

    .button-form-setting-plugin {
      margin-top: 50px;

      .ant-divider {
        margin-bottom: 50px;
      }
    }
  }
}


.item-card-bank-setting-profile {
  .your-saved-card {
    padding-top: 20px;

    .content-type-bank {
      display: flex;
      flex-direction: row;
      position: relative;
      height: 100%;

      .title {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
      color: var(--font-color);
        padding-bottom: 40px;
        padding-top: 20px;
      }

      span {
        color: #0075FF;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        right: 14px;
        top: 16px;
        font-size: 16px;
        height: 26px;
      }
    }

    .ant-collapse>.ant-collapse-item>.ant-collapse-header {
      background: white;
      padding-left: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: #6E88A9;
    }

    .ant-collapse-content>.ant-collapse-content-box {
      padding: 0;
    }

    .ant-collapse {
      border: none;
    }

    .ant-collapse>.ant-collapse-item {
      border: none;
      border-bottom: 1px solid #F0F0F0;

      &:last-child {
        border-bottom: none;
      }
    }

    .ant-collapse-content {
      border-top: none;
    }

    .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
      right: 16px;

      svg {
        float: right;
      }
    }

    .item-international-bank-card {
      background: url('/static/img/background-card-bank.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 20px 24px 24px 24px;
      margin-bottom: 0px;
      margin-top: -18px;
      border-radius: 5px;

      .item-card-international {
        .text-card-number {
          font-weight: bold;
          font-size: 10px;
          line-height: 16px;
          text-transform: uppercase;
          color: #979797;
          margin-top: 16px;
        }

        .number-card {
          font-weight: bold;
          font-size: 22px;
          line-height: 32px;
          color: #FFFFFF;
          padding-bottom: 5px;
          padding-top: 12px;

          span {
            margin-right: 75px;
          }
        }

      }

      .item-info-card {
        display: flex;
        flex-direction: row;
        position: relative;

        .item-card-info {
          .title {
            font-weight: bold;
            font-size: 10px;
            line-height: 20px;
            text-transform: uppercase;
            color: #979797;
            padding-top: 14px;
          }

          .decs-text {
            font-weight: bold;
            font-size: 14px;
            line-height: 32px;
            color: #FFFFFF;
          }
        }

        .content-right {
          position: absolute;
          right: 0;

          .title {
            text-align: right;
          }

          .decs-text {
            text-align: right;
          }
        }
      }
    }

    .backgound-mastercard {
      background: url('/static/img/master-card.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
        color: var(--font-color);
        }
      }

      .item-info-card {
        .item-card-info {
          .title {
          color: var(--font-color);
          }
        }
      }
    }

    .backgound-unionpay {
      background: url('/static/img/background-unionpay.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
        color: var(--font-color);
        }
      }

      .item-info-card {
        .item-card-info {
          .title {
          color: var(--font-color);
          }
        }
      }
    }

    .solopay {
      background: url('/static/img/solopay.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
        color: var(--font-color);
        }
      }

      .item-info-card {
        .item-card-info {
          .title {
          color: var(--font-color);
          }
        }
      }
    }

    .momo {
      background: url('/static/img/momo.png') no-repeat;
      background-size: cover;
      width: calc(100% + -5px);
      height: 100%;
      padding: 24px;
      margin-bottom: 0px;
      margin-top: -18px;

      .item-card-international {
        .text-card-number {
        color: var(--font-color);
        }
      }

      .item-info-card {
        .item-card-info {
          .title {
          color: var(--font-color);
          }
        }
      }
    }

    .ant-radio-wrapper {
      .item-international-bank-card {
        border: 2px solid var(--color-border);;
        height: 190px;
        border-radius: 6px;
      }
    }

    .ant-radio-wrapper-checked {
      .item-international-bank-card {
        border: 2px solid #096dd9;
        height: 190px;
        border-radius: 6px;
      }
    }

    .ant-radio-group {
      width: 100%;
    }

    .ant-radio-wrapper {
      width: 100%;
    }

    .ant-radio {
      position: absolute;
      right: 24px;
      top: 24px;
    }

    .item-list-banking-atm {
      .item-bank-atm {
        position: relative;
        margin-bottom: 18px;

        img {
          margin: 0 auto;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .ant-radio-wrapper {
        border: 1px solid var(--color-border);;
        width: 100%;
        border-radius: 4px;
        height: 85px;
        margin-bottom: 24px;
      }

      .ant-radio-wrapper-checked {
        border: 1px solid #096dd9;
        width: 100%;
        border-radius: 4px;
      }

      .ant-radio {
        right: 10px;
        top: 14px;
        z-index: 1;
      }

      .ant-radio-checked {
        right: 10px;
        top: 14px;
      }
    }
  }

  .table-list-camp {
    .content-title {
      display: flex;
      flex-direction: row;
      position: relative;
      margin-bottom: 32px;

      .title {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
      color: var(--font-color);
      }

      .decs-note {
        position: absolute;
        right: 0;

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 12px;
          width: 16px;
        }

        .decs {
          display: inline-block;
          vertical-align: middle;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          color: #6E88A9;
        }
      }
    }
  }

  .totalBudgetText {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #0075FF;
  }

  .item-info-right-recipient-account {
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;

    .item-account-information {
      .title-header-main-mqn {
        padding-bottom: 16px;

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }

        .title {
          font-weight: 600;
          font-size: 22px;
          line-height: 32px;
        color: var(--font-color);
          display: inline-block;
          vertical-align: middle;
        }
      }

      .content-detail-account {
        .sub-title {
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
        color: var(--font-color);
          padding-bottom: 6px;
        }

        .item-list-info {
          display: flex;
          flex-direction: row;
          position: relative;

          .sub-title-info {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: #6E88A9;
          }

          .decs-text-info {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
          color: var(--font-color);
            position: absolute;
            right: 0;

            img {
              margin-top: -12px;
            }
          }
        }
      }
    }
  }

  .item-discount-code {
    border: 1px solid var(--color-border);;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;

    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
    color: var(--font-color);
      padding-bottom: 16px;
    }

    .ant-checkbox+span {
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: #0075FF;
      padding-top: 16px;
    }

    .ant-form label {
      padding-top: 16px;
    }

    .ant-checkbox-wrapper {
      margin-top: 15px;
    }
  }

  .item-total-bill-number-mqn {
    .item-header-bill {
      background: #FFDFEC;
      border: 1px solid #FFDFEC;
      box-sizing: border-box;
      border-radius: 4px 4px 0px 0px;
      padding: 16px 24px;

      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
      color: var(--font-color);
        display: inline-block;
        vertical-align: middle;

        span {
          font-weight: bold;
          font-size: 18px;
          line-height: 32px;
          color: #FF0C72;
          margin-left: 2px;
          display: inline-block;
          vertical-align: middle;
          margin-top: -6px;
        }
      }
    }

    .item-total-price-bill {
      border: 1px solid var(--color-border);;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 24px;
      margin-bottom: 24px;


      .item-content-bill {
        .title {
          font-weight: bold;
          font-size: 18px;
          line-height: 32px;
        color: var(--font-color);
          padding-bottom: 5px;
        }

        .item-info-detail-bill {
          display: flex;
          flex-direction: row;
          position: relative;
          padding-bottom: 5px;

          .sub-title {
            font-weight: 500;
            font-size: 16px;
            color: #6E88A9;
            line-height: 32px;
          }

          .decs-price {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: #6E88A9;
            position: absolute;
            right: 0;
          }

          .price-sale {
            text-decoration-line: line-through;
          }

          .total-bill-price {
            color: #0075FF;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }
        }

        .item-more-document-sale {
          .decs-text {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
          color: var(--font-color);

            span {
              color: #0075FF;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }

      .item-service-detail-bill {
        .item-service {
          margin-bottom: 20px;

          img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 14px;
          }

          .decs {
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
          color: var(--font-color);
          }
        }
      }

      .item-show-more-promocode {
        .desc {
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
        color: var(--font-color);
          text-align: center;

          span {
            color: #0075FF;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.tab-edit-profile-pc {
  display: block;
}

.tab-edit-profile-mobile {
  display: none
}

.ant-table-tbody > tr.ant-table-row:hover > td{
  background: var(--background-table-title);
}

tr.ant-table-expanded-row > td, tr.ant-table-expanded-row:hover > td{
  background: var(--background-table-title);
}

.ant-table-row-expand-icon{
  background: var(--background-table-title);
}

.ant-input-affix-wrapper{
  background: var(--background-table-title);
  border: 1px solid var(--color-border);
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  border: 1px solid var(--color-border);
}

.ant-select-multiple .ant-select-selector{
  background: var(--background-table-title);
  border: 1px solid var(--color-border);
}

.ant-select-arrow,
.ant-select-multiple .ant-select-selection-placeholder{
  color: var(--font-color);
}

.ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-input-password-icon,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-input{
  background: var(--background-table-title);
  border: 1px solid var(--color-border);
  color: var(--font-color);
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover{
  background: var(--background-table-title);
}

.ant-picker-header-view button,
.ant-picker-content th{
  color: var(--font-color);
}

.ant-picker-panel-container,
.ant-picker{
  background: var(--background-table-title);
  border: 1px solid var(--color-border);
}

.ant-input-number{
  background: var(--background-table-title);
  border: 1px solid var(--color-border);
}
.ant-comment-content-author-name > *{
  color: var(--font-color);
}

.ant-input-number-handler-wrap{
  background: var(--background-table-title);
}

.ant-mentions > textarea,
.ant-mentions > textarea:placeholder-shown{
  background: var(--background-table-title);
}
.ant-comment-actions > li > span{
  color: var(--font-color);
}

.ant-mentions{
  border: 1px solid var(--color-border);
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner{
  color: var(--font-color);
}

.anticon-info-circle{
  color: var(--font-color);
}
.ant-form-item-has-error .ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  border-bottom: 1px solid;
}
.ant-picker-suffix,
.ant-picker-separator,
.anticon-info-circle{
  color: var(--font-color) !important;
}

.ant-picker-time-panel-column:not(:first-child),
.ant-picker-datetime-panel .ant-picker-time-panel,
.ant-picker-panel{
  border: 1px solid var(--color-border);
}

.ant-picker-cell-in-view{
  color: var(--font-color);
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover,
.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner, .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner{
  background: #1890FF;
  color: white;
}

.ant-picker-header{
  border: 1px solid var(--color-border);
}

.ant-input-clear-icon,
.ant-checkbox + span{
  color: var(--font-color);
}

.ant-divider{
  border: 1px solid var(--color-border);
}

.ant-table.ant-table-bordered thead > tr > th, .ant-table.ant-table-bordered tbody > tr > td, .ant-table.ant-table-bordered tfoot > tr > th, .ant-table.ant-table-bordered tfoot > tr > td,
.ant-table.ant-table-bordered .ant-table-container{
  border: none;
}
.ant-steps-item-title:after {
  background-color: var(--color-border) !important;
}

.ant-btn:focus, .ant-btn:active, .ant-btn.active{
  background: gray;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description,
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description,
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
  color: var(--font-color);
}

@import './vars.less';

@import (css) url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import './home-max-xl.less';

@import './home-max-lg.less';

@import './home-max-md.less';

@import './home-max-sm.less';

@import './home-max-xs.less';

@import './home-max-xs-320.less';

@import './theme.less';