@media (max-width: 1600px) {
    .ant-table-tbody>tr>td {
        font-size: 14px;
    }

    .robot-mqn {
        width: 130px;
        position: fixed;
        bottom: -25px;
        left: 0;
        pointer-events: none;
    }

    .ant-list-item-meta-description {
        margin-top: -10px;
    }

    .ScrollUpButton__Container {
        img {
            width: 35px;
        }
    }

    .ant-table-thead>tr>th {
        font-size: 16px;
    }

    .img-product {
        padding: 10px;
        width: 50px;
    }

    .text-status,
    .nameUser {
        font-size: 14px;
        line-height: 26px;
    }

    .pricePopular,
    .text-decs-table {
        font-size: 14px;
    }

    .chartAreaMqn {
        height: 374px;
    }

    .HeaderMqn {
        .notification-main {
            margin-right: 0px;
        }

        .flag-icon-lang {
            margin-right: 0px;
        }

        .input-search-mqn {
            right: 0px;
        }

        .title-page {
            font-size: 26px;
            line-height: 22px;
            padding-bottom: 10px;
        }

        .date-time-system {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .total-monney-header-mqn {
        .item-card-bank {
            .item-total-monney-detail-right {
                .text-total-monney {
                    padding-bottom: 2px;
                    font-size: 26px;
                    line-height: 32px;
                }

                .text-decs-total-monney {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .item-total-monney {
            padding: 24px;
            height: auto;

            .content-main {
                .number-total-main {
                    font-size: 26px;
                    padding-bottom: 0;
                }
            }


            .icon-total-img {
                padding: 10px;
                margin-right: 5px;

                img {
                    width: 30px;
                }
            }

            .number-total {
                img {
                    width: 40px;
                    margin-right: 0px;
                }

                .number-text {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        .item-card-bank {
            padding: 12px 20px;

            img {
                width: 35px;
            }

            .content-title-left {
                .title-bank {
                    padding-bottom: 10px;
                    margin-top: 2px;
                    font-size: 20px;
                }

                .item-card-bank-detail-text {
                    padding: 10px 15px;

                    .title-bank-detail {
                        font-size: 18px;
                        padding-bottom: 0px;
                    }

                    .text-time {
                        font-size: 12px;
                    }

                    .item-numberbank-pay {
                        .sologpay {
                            padding: 5px 10px;
                            bottom: 10px;

                            img {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    .sale-repost-mqn-main {
        .list-user-report-trade {
            .item-detail-user-trade {
                padding-bottom: 15px;

                .item-info-name {
                    .name-user {
                        font-size: 16px;
                        line-height: 26px;
                    }

                    .time-ago {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }


                .item-info-avata {
                    padding-right: 15px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .total-money-user-trade {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }

    .error-page {
        .content-error {
            transform: translate(-50%, 15%);

            img {
                width: 500px;
            }

            .title-error {
                font-size: 26px;
                line-height: 34px;
            }

            .decs-error {
                font-size: 16px;
                line-height: 24px;
            }
        }

    }

    .public-profile-mqn {
        .content-contact-profile-user {
            .item-contact-user {
                padding-bottom: 25px;

                .label-contact {
                    font-size: 12px;
                    line-height: 24px;
                }

                .text-contact {
                    font-size: 14px;
                    line-height: 22px;
                }

                .item-process-hour {
                    .text-progress {
                        font-size: 14px;
                        line-height: 26px;
                    }

                    .ant-progress-text {
                        top: -28px;
                        font-size: 14px;
                    }
                }
            }

            .item-total-data-item-contact {
                .item-total {
                    .label-item-total {
                        font-size: 12px;
                    }

                    .number-item-total {
                        font-size: 26px;
                    }
                }
            }
        }

        .content-info-user-profile-mqn {
            .profile-position {
                font-size: 14px;
                line-height: 32px;
            }

            .profile-name {
                font-size: 18px;
                line-height: 22px;
            }

            .avata-profile-mqn-main {
                .tick-online {
                    right: 30%;
                    bottom: 17%;
                }
            }
        }
    }

    .item-total-social-data-mqn {
        padding: 14px;

        .item-main-social-data {
            .item-avata-social {
                padding: 10px;
                width: 50px;
                height: 50px;
                margin-right: 14px;
            }

            .item-content-total-number-mqn {
                .number-total-monney {
                    font-size: 18px;
                    line-height: 24px;
                    padding-bottom: 2px;
                }

                .number-monney-total {
                    right: 12px;
                    bottom: 12px;

                    img {
                        margin-right: 0px;
                        width: 38px;
                        margin-top: 0px;
                    }

                    .number-text {
                        padding-bottom: 0px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                .number-decs {
                    font-size: 14px;
                    line-height: 30px;
                }
            }

        }

    }

    .item-chart-area-total-profile-main {
        .chartAreaMqn {
            height: 460px;
        }
    }

    .item-list-dowload-file {
        padding: 18px;

        .item-process-hour {
            .text-progress {
                font-size: 16px;
                line-height: 22px;
            }

            .ant-progress-text {
                top: -32px;

                .total-size {
                    font-size: 16px;
                    line-height: 32px;
                }
            }
        }

        .item-info-size-file {

            .total-size,
            .total-file {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    .item-chart-pie {
        .item-list-file-total {
            padding: 17px 20px;

            .content-file {
                .title-file {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            .content-size {
                .total-size {
                    font-size: 12px;
                }
            }
        }
    }

    .chart-pie-style {
        margin-bottom: -16px;
    }

    .list-component-library {
        padding: 24px 24px 8px 24px;
    }

    .item-detail-camp {
        .item-optimal-usage-main {
            .item-detial-info-optimal-plugin {
                .item-info-plugin-progess {
                    margin-top: 10px;
                    .title {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }

                .item-progess-plugin-mqn {
                    .ant-progress-inner {
                        width: 80px !important;
                        height: 80px !important;
                        font-size: 18px !important;
                    }
                }

                .item-time-price-setting-plugin {
                    .price {
                        line-height: 44px;
                    }
                }
            }

            .item-traffic-social-mqn-plugin {
                .item-chart-plugin {
                    height: 515px;
                }
            }
        }

        .list-camp {
            .info-plugins {
                .title-plugins {
                    font-size: 14px;
                    line-height: 22px;
                    padding-bottom: 8px;
                }

                .decs-plugins {
                    font-size: 14px;
                    width: 85%;
                }
            }

            .avata-plugins {
                img {
                    margin-bottom: 35px;
                }
            }
        }
    }

    .camp-plugin-mqn {

        .item-card-bank {
            .item-total-monney-detail-right {
                .text-total-monney {
                    padding-bottom: 2px;
                    font-size: 26px;
                    line-height: 32px;
                }

                .text-decs-total-monney {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .item-total-monney {
            padding: 24px;
            height: auto;

            .content-main {
                .number-total-main {
                    font-size: 26px;
                    padding-bottom: 0;
                }
            }


            .icon-total-img {
                padding: 10px;
                margin-right: 5px;

                img {
                    width: 30px;
                }
            }

            .number-total {
                img {
                    width: 40px;
                    margin-right: 0px;
                }

                .number-text {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        .item-card-bank {
            padding: 12px 20px;

            img {
                width: 35px;
            }

            .content-title-left {
                .title-bank {
                    padding-bottom: 10px;
                    margin-top: 2px;
                    font-size: 20px;
                }

                .item-card-bank-detail-text {
                    padding: 10px 15px;

                    .title-bank-detail {
                        font-size: 18px;
                        padding-bottom: 0px;
                    }

                    .text-time {
                        font-size: 12px;
                    }

                    .item-numberbank-pay {
                        .sologpay {
                            padding: 5px 10px;
                            bottom: 10px;

                            img {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }

        .item-header-background-camp {
            .item-content-title-header-camp {
                .decs-camp {
                    width: 380px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .img-head-camp {
                img {
                    left: -80px;
                    top: -5px;
                    width: 300px;
                }
            }
        }
    }

    .item-step-success-mqn{
        .item-img-success{
            img{
                width: 250px;
                margin-bottom: 12px;
            }

            .item-name-user{
                padding-bottom: 0px;
                font-size: 14px;
            }

            .title-success{
                font-size: 32px;
                line-height: 42px;
                padding-bottom: 5px;
            }

            .decs-success{
                font-size: 14px;
                line-height: 22px;
            }

            .item-total-data-bill{
                .item-data-total{
                    padding-bottom: 30px;
                    .text,
                    .title{
                        font-size: 14px;
                        line-height: 22px;
                    }
                }

                .decs-rate-bill{
                    font-size: 14px;
                    line-height: 22px;
                    padding-bottom: 10px;
                }
            }
        }
    }

    .item-payment-step2{
        .item-info-right-recipient-account{
            .item-account-information{
                .title-header-main-mqn{
                    .title{
                        font-size: 16px;
                    }
                }

                .content-detail-account{
                    .item-list-info{
                        .decs-text-info,
                        .sub-title-info{
                            font-size: 14px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }

        .item-total-bill-number-mqn{
            .item-header-bill{
                padding: 6px 16px;
                .title{
                    font-size: 14px;
                }
            }

            .item-total-price-bill{
                .item-content-bill{
                    .item-info-detail-bill{
                        .sub-title{
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .total-bill-price{
                            font-size: 16px;
                        }

                        .decs-price{
                            font-size: 14px;
                        }
                    }

                    .item-more-document-sale{
                        .decs-text{
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }

                .item-show-more-promocode{
                    .desc{
                        font-size: 14px;
                        line-height: 24px;
                    }
                }

                .item-service-detail-bill{
                    .item-service{
                        .decs{
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }

        .item-discount-code{
            .title{
                font-size: 16px;
                line-height: 26px;
            }

            .ant-checkbox + span{
                font-size: 14px;
            }
        }
    }

    .item-payment-step2{
        .your-saved-card{
            .item-list-banking-atm{
                .item-bank-atm{
                    img{
                        width: 90%;
                    }
                }
            }
        }
    }

    .login-main-mqn{
        .item-background-info-img{
            padding:165px 0px 0px 0px;
            .item-info-img-slide{
                img{
                    width: 85%;
                    margin-left: 10%;
                }

                .content-slide{
                    .title{
                        width: 30%;
                        font-size: 24px;
                        line-height: 32px;
                        margin: 10px auto;
                        padding-bottom: 10px;
                    }

                    .decs{         
                        width: 46%;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .item-edit-view-detail-overview-profile{
        .item-tab-main-overview{
            .item-tab-profile{
                .item-logo-main{
                    .item-content-name-user{
                   
                    }
                }

                // .item-form-info-profile{
                //     .text-send-again{
                //         margin-top: 36px;
                //     }
                // }
            }
        }
    }

    .total-money-main-mqn{
        .item-chart-total-money-main-mqn{
            .text-decs-total-mqn{
                width: 100%;
            }
        }
    }
}


@media (max-width: 1550px) {
    .HeaderMqn{
        .notification-main{
            margin-right: -40px;
        }

        .flag-icon-lang{
            margin-right: -80px;
        }

        .input-search-mqn{
            margin-right: -125px;
        }
    }
}