@media (max-width:1024px) {
    .ant-table-content {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        font-size: 16px;
    }

    .ant-comment-nested {
        margin-left: 0;
    }


    .ant-menu-dark .ant-menu-inline.ant-menu-sub,
    .ant-menu.ant-menu-dark {
        background: transparent;
    }

    .item-menu-mobile {
        display: block;
        margin-top: 10px;

        button {
            border: none;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 10px 0px;
            background: #0075ff;
            width: 55px;
            height: 55px;
            margin-top: -10px;
            color: white;
            font-weight: 600;
        }
    }

    .list-product-popular {
        padding: 14px;
        margin-top: 14px;
        .title-content-table {
            img {
                margin-top: 12px;
            }
        }
    }

    .item-draw-menu-mobile {
        .ant-drawer-body {
            padding: 0;
        }
    }


    .ant-drawer-content-wrapper {
        width: 300px !important;
    }

    .robot-mqn {
        display: none;
    }

    .titleChartArea {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .site-layout {
        min-width: auto;

        .site-layout-background {
            padding: 14px 14px 24px 14px;
            margin: 14px;
        }
    }

    .item-menumain-slide-left {
        display: none;
    }

    .HeaderMqn {
        .title-page {
            font-size: 18px;
            line-height: 24px;
            padding-bottom: 0;
            display: none;
        }

        .date-time-system {
            font-size: 12px;
            line-height: 22px;
            display: none;
        }

        .input-search-mqn {
            display: none;
        }

        .notification-main {
            margin-right: 14px;
        }

        .flag-icon-lang {
            margin-right: 10px;
        }
    }

    .total-monney-header-mqn {
        .item-card-bank {
            .content-title-left {
                .item-card-bank-detail-text {

                    .text-time {
                        line-height: 16px;
                        margin-bottom: -6px;
                    }

                    .title-bank-detail {
                        font-size: 14px;
                    }

                    .item-numberbank-pay {
                        .sologpay {
                            display: none;
                        }
                    }
                }
            }

            .item-total-monney-detail-right {
                left: 2px;
                bottom: 20px;

                .text-total-monney {
                    font-size: 22px;
                }
            }
        }

        .item-total-monney {
            padding: 14px;
            margin-bottom: 14px;
            text-align: center;

            .icon-total-img {
                padding: 14px;
            }

            .content-main {
                margin-top: -14px;

                .number-total-main {
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .text-number {
                    margin-top: 0px;
                    text-align: center;
                }
            }
        }
    }

    .sale-repost-mqn-main {
        .chart-report-dasbroad {
            margin-top: -8px;
            padding: 14px;
        }

        .list-user-report-trade {
            margin-top: 14px;
            padding: 14px;

            .item-detail-user-trade {
                .item-info-name {
                    .name-user {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }

                .item-info-avata {
                    img {
                        width: 34px;
                        height: 34px;
                    }
                }
            }

        }
    }

    .item-payment-step2 {
        .table-list-camp {
            .content-title {
                display: block;

                .decs-note {
                    position: relative;
                    left: 0;
                    margin-top: 10px;
                }
            }
        }

        .your-saved-card {
            .item-international-bank-card {
                .item-card-international {
                    .number-card {
                        span {
                            margin-right: 50px;
                        }
                    }
                }
            }
        }

        .item-info-right-recipient-account {
            padding: 14px;
            margin-bottom: 14px;
            .item-account-information{
                .title-header-main-mqn{
                    img{
                        margin-right: 5px;
                        width: 20px;
                    }
                }
            }
        }

        .item-discount-code {
            padding: 14px;
            margin-bottom: 14px;
        }

        .item-total-bill-number-mqn {
            .item-total-price-bill {
                padding: 14px;
                margin-bottom: 14px;
            }
        }
    }

    .item-step-success-mqn {
        .item-img-success {
            .item-total-data-bill {
                width: 100%;
            }

            .title-success {
                font-size: 26px;
            }
        }
    }

    .camp-plugin-mqn {
        .item-card-bank {
            .content-title-left {
                .item-card-bank-detail-text {

                    .text-time {
                        line-height: 16px;
                        margin-bottom: -6px;
                    }

                    .title-bank-detail {
                        font-size: 14px;
                    }

                    .item-numberbank-pay {
                        .sologpay {
                            display: none;
                        }
                    }
                }
            }

            .item-total-monney-detail-right {
                left: 2px;
                bottom: 20px;

                .text-total-monney {
                    font-size: 22px;
                }
            }
        }

        .item-header-background-camp {
            display: none;
        }
    }

    .item-detail-camp {
        margin-top: 14px;
        margin-bottom: 14px;
        .list-camp {
            height: calc(100% - 14px);
            margin-bottom: 0;
            padding: 14px;

            .avata-plugins {
                position: relative;

                img {
                    display: none;
                }

                .button-detail {
                    position: absolute;
                    bottom: 50px;
                }

                .turn-on-off-plugin {
                    position: absolute;
                    bottom: 15px;
                    right: 5px;
                }
            }

            .info-plugins {
                .decs-plugins {
                    width: 100%;
                    padding-bottom: 20px;
                }
            }
        }

        .item-optimal-usage-main {
            margin-top: 24px;

            .item-detial-info-optimal-plugin {
                display: block;
                margin-bottom: 14px;
                padding: 14px;

                .item-info-plugin-progess {
                    margin-left: 0;
                    width: 100%;
                }

                .item-time-price-setting-plugin {
                    right: 14px;
                    top: 30%;

                    .price {
                        padding-bottom: 0px;
                        padding-top: 0px;
                    }
                }
            }

            .item-traffic-social-mqn-plugin {
                .title {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }
        }
    }

    .table-checkbox-mqn {
        padding: 14px;
    }

    .item-list-dowload-file {
        height: calc(100% - 14px);
        margin-bottom: 14px;
    }

    .item-recent-order-table {
        margin-top: 0px;
        height: 100%;
        max-height: 100%;
    }

    .item-analytics-chart-mqn {
        margin-top: 14px;

        .title-content {
            .title {
                margin-bottom: 40px;
            }
        }
    }

    .item-chart-starage-detail {
        margin-top: 14px;
        padding: 14px;
    }

    .list-component-library {
        padding: 14px;
        margin-top: 28px;
    }

    .item-chart-colum-profile {
        margin-top: 14px;
        padding: 14px;

        .title-content {
            margin-bottom: 10px;
        }
    }

    .total-money-main-mqn {
        margin-top: 14px;
        padding: 14px;
    }

    .item-total-social-data-mqn {
        margin-top: 14px;
    }

    .item-chart-area-total-profile-main {
        margin-top: 14px;
        padding: 14px;
    }


    .ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane,
    .ant-tabs-left>div>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
        padding-left: 0;
    }

    .item-edit-view-detail-overview-profile {
        .item-tab-main-overview {
            .item-tab-profile {
                margin-top: 20px;

                .item-logo-main {
                    text-align: center;
                    display: block;

                    .img-avata {
                        margin: 30px auto 0;
                        display: table;
                    }

                    .item-content-name-user {
                        margin: 0;

                        .name {
                            font-size: 24px;
                        }
                    }
                }

                .ant-tabs {
                    display: block;
                }

                .item-form-info-profile {
                    .text-send-again {
                        margin-top: 0;
                        margin-bottom: 14px;
                    }
                }

                .item-form-setting {
                    margin-top: 30px;
                }

                .item-list-billing-plugin {
                    margin-top: 30px;
                }

                .item-form-password {
                    margin-top: 30px;
                }
            }
        }
    }

    .item-card-bank-setting-profile {
        .your-saved-card {
            .item-international-bank-card {
                height: calc(100% + -14px);
                margin-bottom: 14px;

                .item-card-international {
                    .number-card {
                        span {
                            margin-right: 50px;
                        }
                    }
                }
            }

            .content-type-bank {
                span {
                    right: 10px;
                    top: 26px;
                    font-size: 14px;
                }
            }
        }
    }

    .tab-edit-profile-pc {
        display: none;
    }

    .tab-edit-profile-mobile {
        display: block;

        .ant-tabs-top>.ant-tabs-nav::before,
        .ant-tabs-bottom>.ant-tabs-nav::before,
        .ant-tabs-top>div>.ant-tabs-nav::before,
        .ant-tabs-bottom>div>.ant-tabs-nav::before {
            border-bottom: none;
        }

        .ant-tabs-nav-list {
            margin-bottom: -2px !important;
        }
    }

    .public-profile-mqn{
        .content-info-user-profile-mqn{
            .avata-profile-mqn-main{
                .tick-online{
                    right: 32%;
                }
            }
        }
    }

    .login-main-mqn{
        .item-form-login-main{
            left: -32px;
            background: white;
            width: calc(100% + 32px);
        }

        .item-background-info-img{
            width: calc(100% + 34px);
            padding: 85px 0px 0px 0px;
        }

        .forgot-your-password {
            margin-top: 4px;
          }
    }
}