@media (min-width: 1920px) {
  .item-detail-camp{
    .item-optimal-usage-main{
      .item-traffic-social-mqn-plugin{
        .item-chart-plugin{
          height: 405px;
        }
      }

      .item-detial-info-optimal-plugin{
        .item-info-plugin-progess{
          .title{
            font-size: 18px;
          }
        }
      }
    }

    .list-camp{
      .avata-plugins{
        img{
          margin-bottom: 30px;
        }
      }
    }
  }
}