@media (max-width: 320px) {
    #headerMain .BtnStartTest, #headerMain .btnLogin{
        width: 118px;
        height: 45px;
        font-size: 14px;
    }

    #aboutMeMain .videoYoutube iframe{
        width: 100%;
        height: 200px;
        margin-left: 5px;
    }

    #priceTablePro .itemTablePriceProMqn{
        width: 100%;
    }

    #FooterMain{
        .customFormFooter{
            width: 210px;
        }
        
    }

    #priceTablePro .itemTablePriceProMqn{
        width: 320px;
    }

    #itemAboutMainDetail .itemImgAboutDetail img{
        margin-left: 25px;
    }

    #aboutMain .contentTitleHeaderAbout h1{
        padding: 0px 20px;
    }

    #itemAboutMainDetail .itemContentDetailMain h2{
        font-size: 14px;
    }

    #itemAboutMainDetail .itemContentDetailMain h1{
        font-size: 12px;
    }

    #itemHeaderContactMain{
        height: 500px;

        .itemTitleCustomer  h1{
            padding: 0px 10px;
        }
    }

    #questionMainProMqn{
        padding: 0px 10px;
        .titleQestionMain h1{
            font-size: 18px;
        }
    }

    #detailInfoContentSupportMqn {
        padding: 0px 10px;
        .titleSupportDetail h1{
            letter-spacing: 0px;
        }
    }

    #aboutSystemFeature .imgLeftSystem img{
        height: 165px;
        top: 115px;
    }

    #bannerBodyFeature {
        height: 545px;
        .contentHeaderFeature h1{
            font-size: 14px;
        }
    }

    #itemPriceAllMqn{
        margin-top: 30px;
    }

    #itemPriceAllMqn{
        .itemPriceTable1{
            padding: 20px 10px;
        }
    }

    #HeaderPriceMain{
        .itemContentHeaderPrice{
            margin-top: 150px;
        } 
    }

    #customerHeaderProMain{
        .itemTitleCustomer {
            margin-top: 130px;
        }
    }
}