@media (max-width: 1366px) {

    .HeaderMqn {
        .notification-main {
            margin-right: -30px;
        }

        .flag-icon-lang {
            margin-right: -60px;
        }

        .input-search-mqn {
            margin-right: -95px;
        }
    }


    .camp-plugin-mqn {
        .item-header-background-camp {
            .item-content-title-header-camp {
                .decs-camp {
                    width: 300px;
                }
            }
        }
    }

    .item-detail-camp {
        .item-optimal-usage-main {
            .item-detial-info-optimal-plugin {
                .item-info-plugin-progess {
                    width: 46%;
                }

                .item-time-price-setting-plugin {
                    .price {
                        padding-bottom: 10px;
                        padding-top: 5px;
                    }
                }
            }

            .item-traffic-social-mqn-plugin {
                .item-chart-plugin {
                    height: 604px;
                }
            }
        }
    }

    .item-detail-camp {
        .list-camp {
            .avata-plugins {
                img {
                    margin-bottom: 60px;
                }
            }
        }
    }

    .total-monney-header-mqn{
        .item-total-monney{
            .icon-total-img{
                padding: 5px;
                img{
                    width: 24px;
                }
            }
        }
    }
}