@import './vars.less';
///

li:hover,
a:hover{
  border-color:none
}

.backgroundMneuMobie{
  display:none;
}

.ant-layout{
  background: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.make-container(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
      .container {
          max-width: @breakpoint;
      }
  }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-xl);


#HeaderPriceMain{
  background: url('/static/img/headerPrice.PNG') no-repeat;
  height: 618px;
  background-size:cover;
  
  .itemContentHeaderPrice{
    margin-top: 180px;
  }

  .itemContentHeaderPrice h1{
    text-align: center;
    font-size: 28px;
    letter-spacing: 1.4px;
    color: #F5F6FA;
    text-transform: uppercase;
    font-weight: bold;
  }

  .itemContentHeaderPrice p{
    text-align: center;
    font-size:16px;
    margin-top: 40px;
    letter-spacing: 0.8px;
    color: #F5F6FA;
  }

  .buttonHead{
    display: table;
    margin: 0 auto;
    margin-top:50px;
  }

  .btnLogin{
    border: 2px solid #F5F6FA;
    border-radius: 50px;
    height: 56px;
    width: 205px;
    background: transparent;
    font-size: 21px;
    color: @text-white;
    text-transform: uppercase; 
    letter-spacing: 1.05px;
    margin-right: 30px;
    margin-left: 50px;
    text-align: center;
  }

  .BtnStartTest{
    border: none;
    border-radius: 50px;
    height: 56px;
    width: 205px;
    background: transparent;
    font-size: 21px;
    color: @text-white;
    text-transform: uppercase; 
    letter-spacing: 1.05px;
    text-align: center;
    background: #54D8A3 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #54D8A329;
  }
}

#itemPriceAllMqn{
  margin-top: 100px;

  .titleItemTalbePrice{
    display: table;
    margin: 0 auto;
  }

  .titleItemTalbePrice h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #54D8A3;
    text-transform: uppercase;
  }

  .titleItemTalbePrice h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2.56px;
    color: #663399;
    text-transform: uppercase;
    margin-bottom: -20px;
  }

  .itemPriceTable1{
    margin-top: 50px;
    background: transparent linear-gradient(180deg, #663399 0%, #5F72BD 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    width: 99%;
    padding: 20px 40px;
    color: white;
    height: 373px;
    margin-bottom: 10px;
    margin-left: 8px;
  }

  .itemPriceInfo h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3.2px;
    color: #F5F6FA;
    text-transform: uppercase;
    margin-bottom: 30px
  }

  .itemPriceInfo p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.12px;
    color: #F5F6FA;
    margin-bottom: 30px;
  }


  .itemPriceInfo h3{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 4.8px;
    color: #F5F6FA;
    margin-bottom: 30px
  }

  .itemPriceInfo button{
    background: #54D8A3 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #54D8A329;
    border: 2px solid #4CECAC;
    border-radius: 50px;
    width: 205px;
    height: 56px;
    text-align: center;
    font-size: 21px;
    letter-spacing: 1.05px;
    color: #F5F6FA;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .itemInfoContentMain{
    margin-left: 80px;
    margin-top: 20px
  }

  .itemInfoContentMain p{
    margin-bottom: 22px
  }

  .itemInfoContentMain img{
    margin-right: 10px
  }

  .itemTablePriceProMqn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #0000000A;
    border: 1px solid #E9E9F0;
    width: 100%;
  }

  .activeTablePrice{
    background: transparent linear-gradient(180deg, #663399 0%, #5F72BD 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    border: 1px solid #E9E9F0;
    color:@text-white
  }

  .activeTablePrice .titleTypePack h3,
  .activeTablePrice .titleTypePack h2,
  .activeTablePrice .titleTypePack h1{
    color:@text-white
  }

  .titleTypePack h1{
    text-align: center;
    font-size: 20px;
    letter-spacing: 0px;
    color: #4D4F5C;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
   
  }

  .titleTypePack h2{
    text-align: center;
    font-size: 85px;
    letter-spacing: 0px;
    color: #43425D;
  }

  .titleTypePack h3{
    text-align: center;
    font-size:15px;
    letter-spacing: 0px;
    color: #707070;
    margin-bottom: 18px;
  }

  .contentItempack{
    border-top: 1px solid #E9E9F0;
    padding: 20px 10px;
    text-align: center;
  }

  .contentItempack button{
    background: #663399 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #66339929;
    border: none;
    border-radius: 50px;
    width: 180px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.05px;
    color: #F5F6FA;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
}


.itemHeaderSupport img{
  margin-top: -60px;
}

#itemSystemAllTutorial{
  display: table;
  margin: 0 auto;
  margin-top: 80px;
  
  .itemTitleAllTutorial h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #54D8A3;
    text-transform: uppercase;
  }

  .itemTitleAllTutorial h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2.56px;
    color: #663399;
    text-transform: uppercase;
    opacity: 1;
  }


  .itemTutorial{
    margin-bottom: 50px;
  }


  .itemTutorial img{
    width: 50%; 
    display: table;
    margin: 0 auto;
  }

  .itemAllTutorial{
    margin-top: 50px;
  }

  .itemTutorial h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #663399;
    text-transform: uppercase;
  }

  .itemTutorial p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.12px;
    color: #43425D;
    width: 186px;
    display: table;
    margin: 0 auto;
  }
}


@import './theme.less';