@import './vars.less';
///

li:hover,
a:hover{
  border-color:none
}

.backgroundMneuMobie{
  display:none;
}

.ant-layout{
  background: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.make-container(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
      .container {
          max-width: @breakpoint;
      }
  }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-xl);


.itemHeaderSupport img{
  margin-top: -60px;
}

#itemSystemAllTutorial{
  display: table;
  margin: 0 auto;
  margin-top: 80px;
  
  .itemTitleAllTutorial h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #54D8A3;
    text-transform: uppercase;
  }

  .itemTitleAllTutorial h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2.56px;
    color: #663399;
    text-transform: uppercase;
    opacity: 1;
  }


  .itemTutorial{
    margin-bottom: 50px;
  }


  .itemTutorial img{
    width: 50%; 
    display: table;
    margin: 0 auto;
  }

  .itemAllTutorial{
    margin-top: 50px;
  }

  .itemTutorial h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #663399;
    text-transform: uppercase;
  }

  .itemTutorial p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.12px;
    color: #43425D;
    width: 186px;
    display: table;
    margin: 0 auto;
  }
}